swagger: '2.0'
info:
  description: 'Welcome to the First Vision API documentation. Please note below details for all the APIs: Date fields: All date fields (Request and Response) will be Gregorian -BasicISO (CCYYMMDD) unless mentioned otherwise. Amount Fields: Unless otherwise specified all amount fields are returned in cents or pence or equivalent. The actual decimal point needs to be calculated based on the processing parameter. Number of Decimals used is returned as part of the response. API Request and Response do not display the decimal point unless mentioned in description for field or service. However, the Response provides "number of decimals" as an additional field. For example, "13000" in the Request field is accepted as 130.00. In Response 130.00 will be displayed as 13000 with number of decimal=2.'
  version: '1.508'
  title: FirstVision RESTful Web Services
host: cert.api.firstdata.com
basePath: /api/fs
schemes:
  - https
paths:
  /fv_emea/v1/asmHistoryUpdate:
    post:
      tags:
        - Account Activity Updates
      summary: AsmHistoryUpdate
      description: 'This service is used to add memos for a cardholder which gets stored at First Vision customer service module (ASM) and these memo details can be retrieved whenever required using the appropriate API. As part of request, client must send the account or card number and action code.<BR/><BR/><p>Fields that are not provided in the Request object will be initialised to their default values. All numeric fields are initialised to zero and alphanumeric fields initialised to spaces</p>'
      operationId: asmHistoryUpdate_v1_fv_emea
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AsmHistoryUpdateRequest'
        - name: Authorization
          in: header
          description: OAuth2.0 access token (Bearer token) that you get from security API
          required: true
          type: string
          default: Bearer <token>
        - name: Content-Type
          in: header
          description: Request content type
          required: false
          type: string
          default: application/json
        - name: AppCode
          in: header
          description: Application code identifying the calling application within a client system
          required: false
          type: string
          default: 'Please reach out to FirstVision API team to get the right values for your application. '
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AsmHistoryUpdateResponse'
        '400':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-003 - Invalid request. This could be because of invalid data in the request or header, among other reasons.<BR/>API-Sec-004 - Invalid request. The client_assertion JWT is invalid<BR/>API-Sec-013 - The JWT has an invalid expiry. Pleases end a request with a valid JWT'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '401':
          description: 'Unauthorized: Authorization failed due to missing or invalid credentials. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-001 - The auth header has invalid values. Please try with valid values<BR/>API-Sec-002 - The client id provided is invalid. Please try with valid client id<BR/>API-Sec-007 - The access token is invalid. It may have expired, or maybe incorrect'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '403':
          description: 'Forbidden: Insufficient access for requested operation. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-006 - Replay attack detected. Please try again with valid data<BR/>API-Sec-008 - Mismatch in scope. The access token does not have the permission to access this resource'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '404':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-005 - Resource not found'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '429':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-009 - You have exceeded the App level quota<BR/>API-Sec-010 - You have exceeded the Developer level quota<BR/>API-Sec-011 - You have exceeded the Product level quota<BR/>API-Sec-012 - Too many requests for this API. Please try after sometime'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '452':
          description: 'System Exception: Internal processes not related to client interaction with application are the cause of the failure'
        '453':
          description: 'Validation Exception: The request failed validation, modify the request and resubmit'
        '455':
          description: 'ODS Error Exception: ODS returned a message with transaction status ERROR'
      deprecated: false
      x-proxy-name: ASM History Update v1
      x-region:
        - EMEA
      x-display: Account Activity Updates
  /fv_emea/v1/memoAdd:
    post:
      tags:
        - Account Activity Updates
      summary: MemoAdd
      description: 'The ASM Memo Add service will add a memo note to a customers account, which can then be viewed by agents servicing the account in the future . <BR/><BR/><p>Fields that are not provided in the Request object will be initialised to their default values. All numeric fields are initialised to zero and alphanumeric fields initialised to spaces</p>'
      operationId: memoAdd_v1_fv_emea
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/MemoAddRequest'
        - name: Authorization
          in: header
          description: OAuth2.0 access token (Bearer token) that you get from security API
          required: true
          type: string
          default: Bearer <token>
        - name: Content-Type
          in: header
          description: Request content type
          required: false
          type: string
          default: application/json
        - name: AppCode
          in: header
          description: Application code identifying the calling application within a client system
          required: false
          type: string
          default: 'Please reach out to FirstVision API team to get the right values for your application. '
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/MemoAddResponse'
        '400':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-003 - Invalid request. This could be because of invalid data in the request or header, among other reasons.<BR/>API-Sec-004 - Invalid request. The client_assertion JWT is invalid<BR/>API-Sec-013 - The JWT has an invalid expiry. Pleases end a request with a valid JWT'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '401':
          description: 'Unauthorized: Authorization failed due to missing or invalid credentials. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-001 - The auth header has invalid values. Please try with valid values<BR/>API-Sec-002 - The client id provided is invalid. Please try with valid client id<BR/>API-Sec-007 - The access token is invalid. It may have expired, or maybe incorrect'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '403':
          description: 'Forbidden: Insufficient access for requested operation. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-006 - Replay attack detected. Please try again with valid data<BR/>API-Sec-008 - Mismatch in scope. The access token does not have the permission to access this resource'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '404':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-005 - Resource not found'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '429':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-009 - You have exceeded the App level quota<BR/>API-Sec-010 - You have exceeded the Developer level quota<BR/>API-Sec-011 - You have exceeded the Product level quota<BR/>API-Sec-012 - Too many requests for this API. Please try after sometime'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '452':
          description: 'System Exception: Internal processes not related to client interaction with application are the cause of the failure'
        '453':
          description: 'Validation Exception: The request failed validation, modify the request and resubmit'
        '455':
          description: 'ODS Error Exception: ODS returned a message with transaction status ERROR'
        '465':
          description: ' Backend Response Code and message in odsMessages field: <BR/><BR/>VPE8SMWZ1S : SERVICE COULD NOT OBTAIN STORAGE AREA<BR/>VPE8SMWZ2S : SERVICE INPUT TO MEMO WRITE SERVICE IS OF INCORRECT LENGTH<BR/>VPE8SMWZ4S : FILE-TABLE USED BY THIS SERVICE IS NOT FOUND<BR/>VPE8SMWZ5S : APPLICATION IN NO-PROCESSING STATUS RE-TRY IN A FEW MINUTES<BR/>VPE8SMW02S : ACCOUNTorCARD NUMBER IS NOT NUMERIC OR EQUALS SPACES<BR/>VPE8SMW03E : RECORD-TYPE SHOULD BE GREATER THAN SPACES<BR/>VPE8SMW04S : ACTION-CODE SHOULD BE GREATER THAN SPACES<BR/>VPE8SMW05S : MEMO-LINE 1 SHOULD BE GREATER THAN SPACES<BR/>VPE8SMWZ6S : ORGANIZATION NUMBER NOT DETERMINED<BR/>VPE8SMWZ7S : REQUESTED ORGANIZATION NUMBER IS NOT FOUND<BR/>VPE8SMWZ8S : FILE-TABLE USED BY THIS SERVICE IS NOT FOUND<BR/>VPE8SMWZ9S : APPLICATION IN NO-PROCESSING STATUS RE-TRY IN A FEW MINUTES<BR/>VPE8SMW06S : SYSTEM RECORD NOT FOUND<BR/>VPE8SMW07S : ASM SERVICE IS INACTIVE FOR THE SYSTEM RECORD<BR/>VPE8SMW08S : LTS SERVICE IS INACTIVE FOR THE SYSTEM RECORD<BR/>VPE8SMW09S : ORGANIZATION NUMBER NOT FOUND<BR/>VPE8SMW10S : REQUESTED ORG IS NOT A DUAL CURRENCY ORG<BR/>VPE8SMW11S : FOREIGN ORGANIZATION NUMBER NOT FOUND<BR/>VPE8SMW12S : ACCOUNT FILE NOT OPEN<BR/>VPE8SMW13S : ACCOUNT NUMBER NOT FOUND<BR/>VPE8SMW14S : ERROR ACCESSING ACCOUNT FILE<BR/>VPE8SMW15S : ACCOUNT NUMBER NOT FOUND FOR DUAL ORG ACCOUNT<BR/>VPE8SMW16S : ERROR ACCESSING ACCOUNT FILE FOR DUAL ORG ACCOUNT<BR/>VPE8SMW17S : THE ACCOUNT IS NOT A DUAL ACCOUNT<BR/>VPE8SMW18S : LOGO NUMBER NOT FOUND<BR/>VPE8SMW19S : USER ASM ID NOT FOUND<BR/>VPE8SMW20S : RECORD NOT FOUND IN ASM ACTION FILE<BR/>VPE8SMW21S : ERROR ACCESSING ASM ACTION FILE<BR/>VPE8SMW22E : CARD NUMBER IS REQUIRED FOR TRANSCRIPT RECORD TYPE<BR/>VPE8SMW23E : CARD SEQ NUMBER IS REQUIRED FOR TRANSCRIPT RECORD TYPE<BR/>VPE8SMW24E : EFFECTIVE DATE IS REQUIRED FOR TRANSCRIPT RECORD TYPE<BR/>VPE8SMW25S : TRANSACTION AMT IS REQUIRED FOR TRANSCRIPT RECORD TYPE<BR/>VPE8SMW26S : STORE-NBR IS REQUIRED FOR TRANSCRIPT RECORD TYPE<BR/>VPE8SMW27S : DEPT-NBR IS REQUIRED FOR TRANSCRIPT RECORD TYPE<BR/>VPE8SMW28S : TICKET-NBR IS REQUIRED FOR TRANSCRIPT RECORD TYPE<BR/>VPE8SMW29S : REFERENCE-NBR IS REQUIRED FOR TRANSCRIPT RECORD TYPE<BR/>VPE8SMW30S : PURCHASE-ORDER-NBR IS REQUIRED FOR TRANSCRIPT RECORD TYPE<BR/>VPE8SMW31S : R-REFERENCE-NBR IS REQUIRED FOR TRANSCRIPT RECORD TYPE<BR/>VPE8SMW32S : CURRENCY CODE IS NOT ON SMCU FILE<BR/>VPE8SMW33S : INPUT CURRENCY CODE IS NOT MATCHING WITH SYSTEM CURRNCY CODE<BR/>VPE8SMW34S : EFFECTIVE DATE IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW35S : TRANSACTION AMT IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW36S : PLAN NUMBER IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW37S : FOR PREPAID CARDS INPUT PLAN NUMBER SHOULD BE VALID<BR/>VPE8SMW38S : PLAN NUMBER NOT FOUND IN CREDIT PLAN FILE<BR/>VPE8SMW39S : PLAN SEQ NUMBER IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW40S : DEPT-NBR IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW41S : AUTH-NBR IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW42S : STORE-NBR IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW43S : STORE-NBR IS NOT FOUND IN AMSD FILE<BR/>VPE8SMW44S : SKU-NBR IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW45S : SALES-CLERK IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW46S : CARD-NBR IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW47S : CARD-SEQ IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW48S : TICKET-NBR IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW49S : PURCHASE-ORDER-NBR IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW50S : R-REFERENCE-NBR IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW51S : INS-PROD-IND IS REQUIRED FOR MONETARY RECORD TYPE<BR/>VPE8SMW52S : FOR PREPAID CARDS INS-PROD-IND IS REQUIRED<BR/>VPE8SMW53S : ACTION CANT BE PERFORMED FOR TRANSFERRED PREPAID ACCT<BR/>VPE8SMW54E : REVIEW DATE SHOULD BE GREATER THAN TODAYS DATE<BR/>VPE8SMW55E : REVIEW DATE IS INVALID<BR/>VPE8SMW56E : RETURN MAIL - LETTER CANNOT BE PROCESSED - ENTER SPACES<BR/>VPE8SMW57S : LETTER ORG IS NOT FOUND<BR/>VPE8SMW58S : CARD-NBR IS REQUIRED FOR NON-MONETARY RECORD TYPE<BR/>VPE8SMW59S : CARD-SEQ IS REQUIRED FOR NON-MONETARY RECORD TYPE<BR/>VPE8SMW60S : RECORD NOT FOUND WHILE DOING A START BROWSE ON AMAC FILE<BR/>VPE8SMW61S : ERROR IN DOING A START BROWSE ON AMAC FILE<BR/>VPE8SMW62S : ACTION CODE GIVEN AS INPUT IS NOT A VALID ONE<BR/>VPE8SMW63S : ERROR IN DOING AN END BROWSE ON AMAC FILE<BR/>VPE8SMW64S : ERROR IN WRITING INTO AMHS FILE<BR/>VPE8SMW65S : ERROR IN WRITING INTO AMH1 FILE<BR/>VPE8SMW66S : ERROR IN WRITING INTO AMH2 FILE<BR/>VPE8SMW67S : ERROR IN WRITING INTO ASLM FIL'
          schema:
            $ref: '#/definitions/FsErrorDetails'
      deprecated: false
      x-proxy-name: Memo Add v1
      x-region:
        - EMEA
      x-display: Account Activity Updates
  /fv_emea/v1/memoInquiry:
    post:
      tags:
        - Account Activity Updates
      summary: MemoInquiry
      description: The ASM Memo Inquiry retrieves a list of ASM memos in date order for the requested Account or Card Number.<BR/><BR/><p>Fields that are not provided in the Request object will be initialised to their default values. All numeric fields are initialised to zero and alphanumeric fields initialised to spaces</p>
      operationId: memoInquiry_v1_fv_emea
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/MemoInquiryRequest'
        - name: Authorization
          in: header
          description: OAuth2.0 access token (Bearer token) that you get from security API
          required: true
          type: string
          default: Bearer <token>
        - name: Content-Type
          in: header
          description: Request content type
          required: false
          type: string
          default: application/json
        - name: AppCode
          in: header
          description: Application code identifying the calling application within a client system
          required: false
          type: string
          default: 'Please reach out to FirstVision API team to get the right values for your application. '
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/MemoInquiryResponse'
        '400':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-003 - Invalid request. This could be because of invalid data in the request or header, among other reasons.<BR/>API-Sec-004 - Invalid request. The client_assertion JWT is invalid<BR/>API-Sec-013 - The JWT has an invalid expiry. Pleases end a request with a valid JWT'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '401':
          description: 'Unauthorized: Authorization failed due to missing or invalid credentials. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-001 - The auth header has invalid values. Please try with valid values<BR/>API-Sec-002 - The client id provided is invalid. Please try with valid client id<BR/>API-Sec-007 - The access token is invalid. It may have expired, or maybe incorrect'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '403':
          description: 'Forbidden: Insufficient access for requested operation. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-006 - Replay attack detected. Please try again with valid data<BR/>API-Sec-008 - Mismatch in scope. The access token does not have the permission to access this resource'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '404':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-005 - Resource not found'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '429':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-009 - You have exceeded the App level quota<BR/>API-Sec-010 - You have exceeded the Developer level quota<BR/>API-Sec-011 - You have exceeded the Product level quota<BR/>API-Sec-012 - Too many requests for this API. Please try after sometime'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '452':
          description: 'System Exception: Internal processes not related to client interaction with application are the cause of the failure'
        '453':
          description: 'Validation Exception: The request failed validation, modify the request and resubmit'
        '455':
          description: 'ODS Error Exception: ODS returned a message with transaction status ERROR'
        '465':
          description: ' Backend Response Code and message in odsMessages field: <BR/><BR/>VPE1SGM01S : SERVICE INPUT TO GET MEMO SERVICE IS OF INCORRECT LENGTH<BR/>VPE1SGM03S : FILE-TABLE USED BY THIS SERVICE IS NOT FOUND<BR/>VPE1SGM04S : APPLICATION IN NO-PROCESSING STATUS RETRY IN A FEW MINUTES<BR/>VPE5SGM01S : INVALID SERVICE FUNCTION CODE<BR/>VPE5SGM02S : NO OF RECS MUST BE NUMERIC AND BETWEEN 1 AND 50<BR/>VPE5SGM03S : PLEASE ENTER ACCOUNT NUMBER<BR/>VPE5SGM04S : DATE SHOULD BE 0 FOR INITIAL SERVICE FUNCTION<BR/>VPE5SGM05S : TIME SHOULD BE 0 FOR INITIAL SERVICE FUNCTION<BR/>VPE5SGM06S : REC-TYPE SHOULD BE A SPACE FOR INITIAL SERVICE FUNCTION<BR/>VPE5SGM07S : DATE SHOULD CONTAIN A VALID VALUE<BR/>VPE5SGM08S : TIME SHOULD CONTAIN A VALID VALUE<BR/>VPE5SGM09S : REC-TYPE SHOULD CONTAIN A VALID VALUE<BR/>VPE5SGM10S : ORGANIZATION NOT DETERMINED<BR/>VPE5SGM11S : USER IS NOT ALLOWED TO ACCESS THE ORG<BR/>VPE5SGM12S : INVALID DATA SEQUENCE<BR/>VPE5SGM13S : ORG RECORD NOT FOUND<BR/>VPE5SGM14S : ACCOUNT NUMBERorORG NOT PRESENT IN BASE FILE<BR/>VPE5SGM15S : NO RECORDS IN AMHS FOR THE GIVEN ACCOUNT NUMBER<BR/>VPE5SGM16S : PROBLEM IN READING AMHS FILE<BR/>VPE5SGM17S : THE DATA PASSED IN THE CONTINUATION IS NOT PRESENT IN AMH'
          schema:
            $ref: '#/definitions/FsErrorDetails'
      deprecated: false
      x-proxy-name: Memo Inquiry v1
      x-region:
        - EMEA
      x-display: Account Activity Updates
  /fv_emea/v1/transcriptUpdate:
    post:
      tags:
        - Account Activity Updates
      summary: TranscriptUpdate
      description: The Transcript Action Code (ASM) service provides the ability to externally add or reverse financial input to an account<BR/><BR/><p>Fields that are not provided in the Request object will be initialised to their default values. All numeric fields are initialised to zero and alphanumeric fields initialised to spaces</p>
      operationId: transcriptUpdate_v1_fv_emea
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/TranscriptUpdateRequest'
        - name: Authorization
          in: header
          description: OAuth2.0 access token (Bearer token) that you get from security API
          required: true
          type: string
          default: Bearer <token>
        - name: Content-Type
          in: header
          description: Request content type
          required: false
          type: string
          default: application/json
        - name: AppCode
          in: header
          description: Application code identifying the calling application within a client system
          required: false
          type: string
          default: 'Please reach out to FirstVision API team to get the right values for your application. '
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/TranscriptUpdateResponse'
        '400':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-003 - Invalid request. This could be because of invalid data in the request or header, among other reasons.<BR/>API-Sec-004 - Invalid request. The client_assertion JWT is invalid<BR/>API-Sec-013 - The JWT has an invalid expiry. Pleases end a request with a valid JWT'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '401':
          description: 'Unauthorized: Authorization failed due to missing or invalid credentials. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-001 - The auth header has invalid values. Please try with valid values<BR/>API-Sec-002 - The client id provided is invalid. Please try with valid client id<BR/>API-Sec-007 - The access token is invalid. It may have expired, or maybe incorrect'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '403':
          description: 'Forbidden: Insufficient access for requested operation. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-006 - Replay attack detected. Please try again with valid data<BR/>API-Sec-008 - Mismatch in scope. The access token does not have the permission to access this resource'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '404':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-005 - Resource not found'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '429':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-009 - You have exceeded the App level quota<BR/>API-Sec-010 - You have exceeded the Developer level quota<BR/>API-Sec-011 - You have exceeded the Product level quota<BR/>API-Sec-012 - Too many requests for this API. Please try after sometime'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '452':
          description: 'System Exception: Internal processes not related to client interaction with application are the cause of the failure'
        '453':
          description: 'Validation Exception: The request failed validation, modify the request and resubmit'
        '455':
          description: 'ODS Error Exception: ODS returned a message with transaction status ERROR'
      deprecated: false
      x-proxy-name: Transcript Update v1
      x-region:
        - EMEA
      x-display: Account Activity Updates
  /fv_emea/v1/accountAdd:
    post:
      tags:
        - Account Maintenance
      summary: AccountAdd
      description: 'This service is used to add an account.  The input request will contain selected fields found on the Account Base Segment record.  The service will edit all input data, and populate the Account Base Master file AMBS. If the account number field is not provided on the input message, the number generation service will generate the account number and pass the number back to the Add Account Record service. The service will support the creation of only one Account record per service request.  However, two records with the same number will be created in the local and foreign organizations if the account belongs to a dual currency organization and logo.'
      operationId: accountAdd_v1_fv_emea
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AccountAddRequest'
        - name: Authorization
          in: header
          description: OAuth2.0 access token (Bearer token) that you get from security API
          required: true
          type: string
          default: Bearer <token>
        - name: Content-Type
          in: header
          description: Request content type
          required: false
          type: string
          default: application/json
        - name: AppCode
          in: header
          description: Application code identifying the calling application within a client system
          required: false
          type: string
          default: 'Please reach out to FirstVision API team to get the right values for your application. '
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AccountAddResponse'
        '400':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-003 - Invalid request. This could be because of invalid data in the request or header, among other reasons.<BR/>API-Sec-004 - Invalid request. The client_assertion JWT is invalid<BR/>API-Sec-013 - The JWT has an invalid expiry. Pleases end a request with a valid JWT'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '401':
          description: 'Unauthorized: Authorization failed due to missing or invalid credentials. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-001 - The auth header has invalid values. Please try with valid values<BR/>API-Sec-002 - The client id provided is invalid. Please try with valid client id<BR/>API-Sec-007 - The access token is invalid. It may have expired, or maybe incorrect'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '403':
          description: 'Forbidden: Insufficient access for requested operation. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-006 - Replay attack detected. Please try again with valid data<BR/>API-Sec-008 - Mismatch in scope. The access token does not have the permission to access this resource'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '404':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-005 - Resource not found'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '429':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-009 - You have exceeded the App level quota<BR/>API-Sec-010 - You have exceeded the Developer level quota<BR/>API-Sec-011 - You have exceeded the Product level quota<BR/>API-Sec-012 - Too many requests for this API. Please try after sometime'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '452':
          description: 'System Exception: Internal processes not related to client interaction with application are the cause of the failure'
        '453':
          description: 'Validation Exception: The request failed validation, modify the request and resubmit'
        '455':
          description: 'ODS Error Exception: ODS returned a message with transaction status ERROR'
        '465':
          description: ' Backend Response Code and message in odsMessages field: <BR/><BR/>VPL5SAA4YS : SERVICE COULD NOT OBTAIN STORAGE AREA<BR/>VPL5SAA4ZS : SERVICE INPUT TO AorA SERVICE IS AN INCORRECT LENGTH<BR/>VPL5SAA01S : FILE-TABLE USED BY THIS SERVICE IS NOT FOUND<BR/>VPL5SAA10S : APPLICATION IN NO-PROCESSING STATUS RE-TRY IN A FEW MINUTES<BR/>VPL5SAA02S : ORG NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998<BR/>VPL5SAA03S : ORG NUMBER REQUIRED WHEN ACCOUNT NUMBER NOT PROVIDED<BR/>VPL5SAA04S : LOGO NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998<BR/>VPL5SAA05S : LOGO NUMBER REQUIRED WHEN ACCOUNT NUMBER NOT PROVIDED<BR/>VPL5SAA06S : ORGANIZATION NOT DETERMINED<BR/>VPL5SAA07S : ORGANIZATION NOT DETERMINED<BR/>VPL5SAA08S : REQUESTED ORG NUMBER IS NOT FOUND<BR/>VPL5SAA09S : FILE-TABLE USED BY THIS SERVICE IS NOT FOUND<BR/>VPL5SAA11S : ORG RECORD NOT FOUND<BR/>VPL5SAA12S : LOGO RECORD NOT FOUND<BR/>VPE5SAABAE : LOGO NOT VALID FOR MULTI-SCHEME ACCOUNT<BR/>VPL5SAA14S : SYSTEM RECORD NOT FOUND<BR/>VPL5SAAI5S : ORG CAN NOT BE DETERMINED<BR/>VPL5SAAI6S : LOGO CAN NOT BE DETERMINED<BR/>VPL5SAAI7S : AUTO GENERATION OF ACCOUNT NUMBER NOT ACTIVE<BR/>VPL5SAAI8S : SERVICE COULD NOT OBTAIN STORAGE FOR NBRGEN INPUT AREA<BR/>VPL5SAAI9S : SERVICE COULD NOT OBTAIN STORAGE FOR NBRGEN OUTPUT AREA<BR/>VPL5SAA4VS : NUMBER GENERATION SERVICE FAILED<BR/>VPL5SAAJ0S : MISMATCHED GENERATED FOREIGN ORG<BR/>VPL5SAAJ1S : BILLING ACCOUNTS MUST BEGIN WITH 999<BR/>VPL5SAAJ2S : CONTROL AND DIVERSION ACCOUNTS MUST BEGIN WITH 998<BR/>VPL5SAAJ9S : ACCOUNT NUMBER CHECK DIGIT IS INVALID<BR/>VPL5SAAJ3S : ACCOUNT NUMBER PROVIDED ALREADY EXISTS<BR/>VPL5SAAJ4S : EMBOSSER NUMBER ALREADY EXISTS<BR/>VPL5SAAJ5S : ACCOUNT ALREADY EXISTS ON RELATIONSHIP MASTER<BR/>VPL5SAAJ6S : FOREIGN ACCOUNT ALREADY EXISTS<BR/>VPL5SAAJ7S : FOREIGN EMBOSSER ALREADY EXISTS<BR/>VPL5SAAJ8S : FOREIGN ACCOUNT ALREADY EXISTS FOR RELATIONSHIP<BR/>VPL5SAAK0S : DUAL LOGO NOT FOUND<BR/>VPL5SAAK2S : CUSTOMER NUMBER NOT FOUND<BR/>VPL5SAAK3S : SYSTEM RECORD NOT FOUND<BR/>VPL5SAAK4S : RELATIONSHIPS NOT ACTIVATED ON ORG CTRL RECORD<BR/>VPL5SAAK5S : RELATIONSHIP NUMBER REQUIRED WHEN HCS IS ACTIVE FOR THIS ORG<BR/>VPL5SAAK6S : RELATIONSHIPS NOT ACTIVE ON DUAL ORG RECORD<BR/>VPL5SAAK7S : RELATIONSHIP NUMBER CAN NOT BE ENTERED FOR PREPAID LOGO<BR/>VPL5SAAK8S : RELATIONSHIP RECORD DOES NOT EXIST<BR/>VPL5SAAL0S : FOREIGN RELATIONSHIP RECORD DOES NOT EXIST<BR/>VPL5SAA1KS : CANNOT ADD A PURCHASE CARD ACCOUNT TO A CORPORATE RELATIONSHIP<BR/>VPL5SAA1LS : CANNOT ADD A CORPORATE ACCOUNT TO A PURCHASE CARD RELATIONSHIP<BR/>VPL5SAA1MS : CANNOT ADD A NON HCS ACCOUNT TO A HCS CARD RELATIONSHIP<BR/>VPL5SAP20S : SERVICE COULD NOT OBTAIN STORAGE AREA FOR NUMBER GEN INPUT<BR/>VPL5SAP21S : SERVICE COULD NOT OBTAIN STORAGE AREA FOR NUMBER GEN OUTPUT<BR/>VPL5SAA5NS : INSTANT CREDIT NUMBER ALREADY EXISTS<BR/>VPL5SAAL3E : HCS MUST BE ACTIVE FOR ACCOUNT TYPE VALUES 1 2 OR 3<BR/>VPL5SAAL4E : SWEEPING NOT ALLOWED IN THIS LOGO<BR/>VPL5SAAL5E : ALT CUST ADDRESS EXPIRY DATE NOT A VALID DATE<BR/>VPL5SAAL6E : EXPIRY DATE CAN NOT BE LESS THAN CURRENT PROCESSING DATE<BR/>VPL5SAAL7S : ALTERNATE CUSTOMER NUMBER NOT ON FILE<BR/>VPL5SAAL9E : PRIMARY ACCOUNT FLAG MUST EQUAL SPACE<BR/>VPL5SAAM0E : PRIMARY ACCOUNT NOT ALLOWED - NO RELATIONSHIP RECORD EXISTS<BR/>VPE5SAABDE : CREDIT LIMIT EXCEEDS VALUE SET AT CUSTOMER LEVEL<BR/>VPL5SAAM1E : CREDIT LIMIT MUST EQUAL ZEROS<BR/>VPL5SAAM2E : CREDIT LIMIT MUST BE GREATER THAN ZEROS<BR/>VPL5SAAL3E : HCS MUST BE ACTIVE FOR ACCOUNT TYPE VALUES 1 2 OR 3<BR/>VPL5SAAM4E : CREDIT LIMIT CAN NOT EXCEED RELATIONSHIP CREDIT LIMIT<BR/>VPL5SAAM6E : CREDIT LIMIT EXCEEDS SECURED AMOUNT<BR/>VPL5SAAM7E : CUSTOMER NUMBER REQUIRED<BR/>VPL5SAAM8S : CUSTOMER NUMBER NOT FOUND<BR/>VPL5SAAN0S : FOREIGN CUSTOMER NUMBER NOT FOUND<BR/>VPL5SAAN1E : GENERIC CUSTOMER NOT ALLOWED WHEN PREPAID FLAG IS NOT 1<BR/>VPL5SAAN3E : MEMO BILL CURRENCY NOT DEFINED<BR/>VPL5SAAN2E : MEMO BILL CURRENCY MUST BE ZEROS WHEN DUAL CURRENCY IS NOT ACTIVE<BR/>VPL5SAA2CE : DAUL BILLING MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA2DE : BILLING LEVEL MUST BE 1 FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAAN4E : PRIM ACCT BILLING LEVEL CANNOT BE 1 WHEN REL BILLING LVL = 0 OR 2<BR/>VPL5SAAN5E : BILLING LEVEL MUST EQUAL 0 OR 1<BR/>VPL5SAAN6E : BILLING LEVEL MUST EQUAL 0<BR/>VPL5SAAN7E : BILLING LEVEL IS INVALID FOR RELATIONSHIP<BR/>VPL5SAAN8E : BILLING LEVEL MUST EQUAL 1 WHEN ACCT IS NOT TIED TO RELATIONSHIP<BR/>VPL5SAA2EE : FLEX BILL MUST BE N FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAAN9E : DATE OPENED CAN MUST NOT EQUAL ZEROS<BR/>VPL5SAAO0E : OPENED DATE NOT VALID DATE CAN NOT BE > CURR PROCESSING DATE<BR/>VPL5SAAO1E : APPLI DATE NOT A VALID DATE<BR/>VPL5SAAO2E : CARD SCHEME MUST EQUAL ZERO FOR ACCOUNTS NOT IN A RELATIONSHIP<BR/>VPL5SAAO3E : CARD SCHEME CAN NOT EQUAL 0 FOR ACCOUNT IN A RELATIONSHIP<BR/>VPL5SAAO4E : NO RELATIONSHIP BEING ADDED CARD SCHEME CANNOT BE 1<BR/>VPL5SAAO5E : ORG CARD SCHEME 2or3 NOT ACTIVE CARD SCHEME CANNOT BE 2 OR 3<BR/>VPL5SAAM9E : CARD SCHEME FOR PREPAID ACCOUNT MUST EQUAL 0<BR/>VPL5SAAL1E : CARD SCHEME 2 NOT VALID FOR JCB ACCOUNTS<BR/>VPL5SAABEE : INCORRECT REL CARD SCHEME FOR AMEX AFF LOGO<BR/>VPL5SAA1NE : DUE FIELD MUST EQUAL ZEROS<BR/>VPL5SAACFE : CYCLE MUST EQUAL ZEROS IF CUSTOMER SELECTED DUE DATE IS ACTIVE<BR/>VPL5SAACVE : REC NOT IN QMOD FILE<BR/>VPL5SAACWE : QMOD RECORD IS IN AN ADD PENDING STATE<BR/>VPL5SAACXE : QMOD RECORD IS NOT ACTIVE OR EXPIRED<BR/>VPL5SAA1OE : DUE FIELD MUST BE GREATER THAN ZEROS<BR/>VPL5SAA0ME : CYCLE FIELD MUST EQUAL VALID CYCLES DEFINED ON SYSTEM RECORD<BR/>VPL5SAAO6E : BILLING CYCLE MUST EQUAL RELATIONSHIP BILLING CYCLE<BR/>VPL5SAA2FE : PREPAID FLAG MUST EQUAL ZERO FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAAO7E : VALID VALUES FOR PREPAID ACCOUNTS ARE SPACE I O U OR Z<BR/>VPL5SAAO8E : VALID VALUES ARE SPACE 0-9 C H I R S O U OR Z<BR/>VPL5SAAO9E : RELATIONSHIP ACCOUNTS STATEMENT FREQ MUST EQUAL 01<BR/>VPL5SAAP0E : FREQ FIELD INVALID - VALID VALUES OF 01-12 62 OR 99<BR/>VPE5SAABFE : CARD EXPIR ALIGN ACTIVE: CRD EXP MUST BE > ZERO<BR/>VPL5SAAP1E : CARD EXPIRATION NOT A VALID DATE<BR/>VPL5SAAP2E : CARD EXP MUST BE GREATER THAN THE CURRENT PROCESSING DATE<BR/>VPL5SAAP5E : CARD FEE IS NOT A VALID DATE<BR/>VPL5SAAP6E : CEDIT BUREAU DATE NOT A VALID DATE<BR/>VPL5SAAP7E : TERMSorCONDITIONS DATE NOT A VALID DATE<BR/>VPL5SAA4OE : TERMSorCONDITIONS DATE MUST BE GREATER THAN ZEROS<BR/>VPL5SAAP8E : ASSOC DATE NOT A VALID DATE<BR/>VPL5SAAP9E : ASSOC CUSTOMER NUMBER NOT ON FILE<BR/>VPL5SAAQ0E : STATE OF RESIDENCE IS NOT FOUND ON USURY TABLE<BR/>VPL5SAAQ1E : STATE OF RESIDENCE IS INVALID ON USURY TABLE<BR/>VPL5SAAQ2E : STATE OF RESIDENCE IS NOT FOUND<BR/>VPL5SAAQ3E : STATE OF RESIDENCE DOES NOT EXIST<BR/>VPL5SAA4WE : STATE OF RESIDENCE DOES NOT MATCH LOGO STATE OF RESIDENCE<BR/>VPL5SAA4XE : STATE OF RESIDENCE IS REQUIRED<BR/>VPL5SAAQ4E : PRICING CONTROL ID IS NOT FOUND<BR/>VPL5SAAQ5E : PRICING CONTROL ID DOES NOT EXIST<BR/>VPL5SAAQ6E : ISSUANCE ID DOES NOT EXIST<BR/>VPL5SAAQ7E : ISSUANCE ID REQUIRED FOR BANKCARD ACCOUNT<BR/>VPL5SAAQ8E : ISSUANCE ID IS NOT FOUND ON USURY TABLE<BR/>VPL5SAAQ9E : ISSUANCE ID IS NOT FOUND<BR/>VPL5SAAR0E : ISSUANCE ID DOES NOT EXIST<BR/>VPL5SAAR1E : START DATE INVALID WHEN PCT CNTRL ID NOT PROVIDED<BR/>VPL5SAAR2E : START DATE FOR THE PRICING CTRL NOT A VALID DATE<BR/>VPL5SAAR3E : START DATE FOR THE PRICING CTRL MUST BE = OR > NEXT PROCESSING DT<BR/>VPL5SAA1RE : EXPIRE DATE INVALID WHEN PCT CNTRL START DATE NOT PROVIDED<BR/>VPL5SAAR4E : EXPIRE DATE FOR THE PRICING CTRL NOT A VALID DATE<BR/>VPL5SAAR5E : EXPIRE DATE FOR THE PRICING CTRL MUST BE = OR > PCT START DATE<BR/>VPL5SAA1SE : PCT LEVEL START DATE INVALID WHEN PCT LEVEL NOT PROVIDED<BR/>VPL5SAAR6E : PCT LEVEL START DATE FOR THE PCT LEVEL NOT A VALID DATE<BR/>VPL5SAAR7E : PCT LEVEL START DATE FOR PCT LEVEL MUST BE = OR > NEXT PROCESS DT<BR/>VPL5SAA1QE : PCT LEVEL EXPIRE DATE INVALID WHEN PCT LVL START DTE NOT PROVIDED<BR/>VPL5SAAR8E : PCT LEVEL EXPIRE DATE FOR THE PCT LEVEL NOT A VALID DATE<BR/>VPL5SAA2GE : WAIVE INT CHG MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA4LE : WAIVE FEE CHG MUST EQUAL 1 FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAAR9E : PCT LEVEL EXPIRE DATE FOR PCT LEVEL MUST BE > START DATE<BR/>VPL5SAAL2E : WAIVE CARD FEE FIELD MUST = 0 OR 1<BR/>VPL5SAAS0E : PAYMENT SKIP NOT ALLOWED<BR/>VPL5SAA2HE : WAIVE CASH AVAIL MUST BE Y FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA2IE : PREPMT ALLOWED MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA2JE : PREPMT MONTHS MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA2KE : PREPMT ZERO MUST EQUAL ZERO FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA2LE : LOAN LIMIT MUST BE N FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA2ME : CASH PLAN NUMBER MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAAS1E : CASH PLAN NUMBER INVALID FOR NON BANKCARD ACCOUNTS<BR/>VPL5SAAS2S : CASH PLAN NUMBER NOT ON FILE OR NOT A CASH TYPE<BR/>VPL5SAA2NE : RETAIL PLAN NUMBER MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAAS3E : RETAIL PLAN NUMBER INVALID FOR NON BANKCARD ACCOUNTS<BR/>VPL5SAAS4E : RETAIL PLAN NUMBER INVALID FOR PREPAID ACCOUNTS<BR/>VPL5SAAS5S : RETAIL PLAN NUMBER NOT ON FILE OR NOT A RETAIL TYPE<BR/>VPL5SAA2OE : INTEREST VARIANCE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA2PE : VARIANCE EFFECTIVE DATE MUST EQUAL ZEROS FOR PREPAID ACCT TYPE<BR/>VPL5SAAS6E : INT VARIANCE EFFECTIVE DATE NOT A VALID DATE<BR/>VPL5SAAS7E : INT VARIANCE EFFECTIVE DATE MUST BE > CURRENT PROCESSING DATE<BR/>VPL5SAA2QE : PLAN PMT OVERRIDE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA2RE : FIXED PMT AMTorPCT MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA2SE : PAYMENT HOLD MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAAS8E : DDA ROUTING NUMBER REQUIRED WHEN DDA ACCOUNT PROVIDED<BR/>VPL5SAAS9E : SAV ROUTING NUMBER REQUIRED WHEN SAV ACCOUNT PROVIDED<BR/>VPL5SAA6ME : IBS DDA ROUTING NBR REQUIRED WHEN DDA ACCT PROVIDED<BR/>VPL5SAA6NE : IBS SAV ROUTING NBR REQUIRED WHEN SAV ACCT PROVIDED<BR/>VPL5SAA7ME : <BR/>VPL5SAAT4E : CARD TECH FIELD INVALID<BR/>VPL5SAAT5E : CARD TECH FIELD MUST = 0 FOR CARD SCHEME 2<BR/>VPL5SAAT6E : SMART CARD NOT ALLOWED<BR/>VPL5SAAT1E : MOBILE SMART CONTACTLESS PI NOT VALID WITH CARD SCHEME 2<BR/>VPL5SAAT2E : INVALID VALUE - MOBILE PI IS NOT ALLOWED ACCOUNT LEVEL<BR/>VPL5SAA2TE : TEMP CREDIT LIMIT MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAT7E : TEMP CREDIT LIMIT NOT ALLOWED FOR RELATIONSHIP ACCOUNT<BR/>VPL5SAAT8E : TEMP CREDIT LIMIT EQUAL CREDIT LIMIT<BR/>VPL5SAAT9E : TEMP CREDIT LIMIT GREATER THAN LOGO CREDIT LIMIT CEILING<BR/>VPL5SAA2UE : TEMP CREDIT LIMIT EXPIRE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAU0E : DATE TEMP CREDIT LIMIT EXPIRE IS NOT A VALID DATE<BR/>VPL5SAAU1E : EXPIRE DATE FOR TEMP CREDIT LINE MUST BE > OR = CURR PROCESS DATE<BR/>VPL5SAA2VE : PREFER MIN AMOUNT MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA2WE : PREFER INT DAYS MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA2XE : PAYMENT ACH FLAG MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAU3E : DD PAYMENT MUST EQUAL ZEROS<BR/>VPL5SAAU4E : DD PAYMENT MUST EQUAL ZEROS<BR/>VPL5SAAU5E : DD PAYMENT INVALID VALUE - VALID VALUES ARE 1 2 AND 7<BR/>VPL5SAAU6E : DD PAYMENT MUST EQUAL 0 WHEN REL BILLING LEVEL EQUAL 0<BR/>VPL5SAA2YE : DC ACH AMOUNT MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAA2ZE : DD NOM AMTorPCT FLAG MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAU7E : DD NOM AMTorPCT FLAG INVALID FOR DEBIT CARD<BR/>VPL5SAA3AE : DD NOM AMTorPCT MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAU8E : DD NOM AMTorPCT MUST EQUAL ZEROS<BR/>VPL5SAAU9E : DD NOM AMTorPCT MUST BE GREATER THAN ZEROS<BR/>VPL5SAAV0E : DD NOM AMTorPCT VALUE IS INVALID<BR/>VPL5SAA3BE : PREFER START DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAAV1E : PREFER START DATE IS NOT A VALID DATE<BR/>VPL5SAA3CE : PREFER END DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAAV2E : PREFER END DATE IS NOT A VALID DATE<BR/>VPL5SAAV3E : PREFER PROMO DATE IS NOT A VALID DATE<BR/>VPL5SAA3DE : PREFER PROMO DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAA3EE : DD INTERIM PMTS MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAAV4E : DD INTERIM PAYMENTS MUST EQUAL 0<BR/>VPL5SAA3FE : DD DAILY FREQ MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAV5E : DD DAILY FREQUENCY INVALID - ACCOUNT IN HCS RELATIONSHIP<BR/>VPL5SAAV6E : DD DAILY FREQUENCY FIELD MUST = 0<BR/>VPL5SAAV7E : DD REQ DAY MUST EQUAL ZER0 WHEN DD DAILY FREQUENCY NOT EQUAL ZERO<BR/>VPL5SAAV8E : DD PAYMENT MUST EQUAL 2 WHEN DD DAILY FREQUENCY NOT EQUAL ZERO<BR/>VPL5SAAV9E : DD PAYMENT CHANGE DATE MUST EQUAL ZERO WHEN DD DAILY FREQ = ZERO<BR/>VPL5SAA3GE : DD CREDIT BAL MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAW0E : DD CREDIT BALANCE INVALID - ACCOUNT IN A HCS RELATIONSHIP<BR/>VPL5SAA3HE : PAYMENT REMIT METHOD MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAW1E : DD PAYMENT REMITANCE METHOD MUST EQUAL 0 WHEN BILLING LVL = 0<BR/>VPL5SAA3IE : DC ACH PLAN MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAW2S : DC PLAN DOES NOT EXIST<BR/>VPL5SAAW3E : DC PLAN NOT A RETAIL PLAN<BR/>VPL5SAA3JE : DD RorT BANK ID MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAW4E : DD RorT BANK ID MUST BE GREATER THAN ZEROS<BR/>VPL5SAAW5E : DD RorT BANK ID IS NOT A VALID NACHA FORMAT<BR/>VPL5SAAW6E : DC RorT BANK ID IS NOT A VALID NACHA FORMAT<BR/>VPL5SAA3KE : DC RorT BANK ID MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAA3LE : DD PAYMENT EXPIRE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAW7E : DD PAYMENT EXPIRE DATE NOT A VALID DATE<BR/>VPL5SAAW8E : DD PAYMENT EXPIRE DATE MUST BE > OR = NEXT PROCESSING DATE<BR/>VPL5SAA3ME : DD PAYMENT START DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAX0E : DD PAYMENT START DATE IS NOT A VALID DATE<BR/>VPL5SAAX1E : DD PAYMENT START MUST BE GREATER OR EQUAL NEXT PROCESSING DATE<BR/>VPL5SAA3NE : DC EXPIRE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAX2E : DC ACH EXPIRE DATE IS NOT A VALID DATE<BR/>VPL5SAAX3E : DC ACH EXPIRE DATE MUST BE GREATER OR EQUAL NEXT PROCESSING DATE<BR/>VPL5SAA3OE : DC START DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAX4E : DC ACH START DATE IS NOT A VALID DATE<BR/>VPL5SAA3PE : DD ACH TYPE MUST EQUAL SPACE FOR ACCOUNT TYPE<BR/>VPL5SAA3QE : DD ACH ACCOUNT NUMBER MUST EQUAL SPACES FOR ACCOUNT TYPE<BR/>VPL5SAAX5E : DD ACCOUNT NUMBER MUST BE GREATER THAN ZEROS<BR/>VPL5SAA4ME : DD ACH REQ DAY MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAAX6E : DD REQUEST DAY MUST = 0 WHEN LOGO DD PAYMENT FLAG IS S OR D<BR/>VPL5SAAX7E : DD REQUEST DAY MUST BE BETWEEN 01 AND 31<BR/>VPL5SAA3SE : DC ACCOUNT TYPE EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAA3TE : DC REQUEST DAY INDICATOR MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAX8E : DC REQUEST DAY INDICATOR MUST EQUAL ZEROS<BR/>VPL5SAA3UE : DC ACCOUNT NUMBER MUST EQUAL SPACES FOR ACCOUNT TYPE<BR/>VPL5SAA3VE : DD REQUEST DAY MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAA3WE : DD PYMT CHANGE DATE MUST EQUAL ZEROS FOR ACCOUNT TYPE<BR/>VPL5SAAX9E : DD PAYMENT CHANGE DATE INVALID FOR DEBIT CARDS<BR/>VPL5SAAY0E : DD PAYMENT CHANGE DATE IS NOT A VALID DATE<BR/>VPL5SAAY1E : DD PAYMENT CHANGE DATE MUST BE > OR = NEXT PROCESSING DATE<BR/>VPL5SAAY2E : DD PAYMENT CHANGE DATE MUST BE GREATER OR EQUAL START DATE<BR/>VPL5SAAY3E : DD PAYMENT CHANGE DATE MUST BE < OR EQUAL PAYMENT EXPIRATION DATE<BR/>VPL5SAAY4E : DD PAYMENT CHANGE DATE IS INVALID<BR/>VPL5SAAY5S : PROMOTION NOT ON FILE<BR/>VPL5SAAY6E : PROMOTION NOT ON FILE<BR/>VPL5SAAY7E : OWNING BRANCH MUST BE GREATER THAN ZEROS FOR BANKCARD ACCOUNTS<BR/>VPL5SAAY8S : OWNING BRANCH NOT ON FILE<BR/>VPL5SAAZ1E : USER DATE 1 IS NOT A VALID DATE<BR/>VPL5SAAZ2E : USER DATE 2 IS NOT A VALID DATE<BR/>VPL5SAAZ3E : USER DATE 3 IS NOT A VALID DATE<BR/>VPL5SAAZ4E : USER DATE 4 IS NOT A VALID DATE<BR/>VPL5SAAZ5E : USER DATE 5 IS NOT A VALID DATE<BR/>VPL5SAAZ6E : USER DATE 6 IS NOT A VALID DATE<BR/>VPL5SAAZ7E : USER DATE 7 IS NOT A VALID DATE<BR/>VPL5SAAZ8E : USER DATE 8 IS NOT A VALID DATE<BR/>VPL5SAAZ9E : USER DATE 9 IS NOT A VALID DATE<BR/>VPL5SAA0AE : USER DATE 10 IS NOT A VALID DATE<BR/>VPL5SAA0BE : USER DATE 11 IS NOT A VALID DATE<BR/>VPL5SAA0CE : USER DATE 12 IS NOT A VALID DATE<BR/>VPL5SAA0DE : USER DATE 13 IS NOT A VALID DATE<BR/>VPL5SAA0EE : USER DATE 14 IS NOT A VALID DATE<BR/>VPL5SAA3XE : WAIVE INTL ATM FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA3YE : WAIVE DOM ATM FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA3ZE : WAIVE INTL POS FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA4AE : WAIVE DOM POS FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA4BE : WAIVE LOAD FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA4NE : PREPAID LOAD FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAAXXE : <BR/>VPL5SAA4DE : WAIVE DORM FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA4EE : WAIVE REFUND FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA4FE : WAIVE STMT FEE MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA1TE : PREPAID PLAN NUMBER MUST BE NUMERIC AND NOT EQUAL ZERO<BR/>VPL5SAA1US : PREPAID PLAN NUMBER NOT FOUND<BR/>VPL5SAA1VE : PREPAID PLAN NUMBER IS NOT A VALID TYPE<BR/>VPL5SAA4GE : PREPAID LOAD NBR MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA1WE : SINGLE LOAD MAX MUST BE GREATER THAN SINGLE LOAD MIN<BR/>VPL5SAA1XE : LOAD FREQUENCY CAN NOT BE > 0 WHEN LOAD NUMBER = ZERO<BR/>VPL5SAA4HE : PREPAID MAX LOAD MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA4IE : PREPAID MIN LOAD MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA1YE : MAX AMOUNT CAN NOT BE LESS THAN MIN AMOUNT<BR/>VPL5SAA1ZE : SINGLE LOAD MIN CAN NOT EXCEED LOGO SINGLE LOAD MIN<BR/>VPL5SAA2AE : SINGLE LOAD MAX CAN NOT EXCEED LOGO SINGLE LOAD MAX<BR/>VPL5SAA4JE : PREPAID LOAD AMT MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA2BE : MAX LOAD AMOUNT CAN NOT BE ZERO<BR/>VPL5SAA4KE : PREPAID LOAD FREQ MUST EQUAL ZEROS FOR NON PREPAID ACCOUNT TYPE<BR/>VPL5SAA9GE : DC ON DEMAND ACCOUNT TYPE INVALID FOR ACCOUNT TYPE<BR/>VPL5SAA9HE : INVALID DC ON DEMAND ACCOUNT TYPE VALID VALUES ARE SPACE D OR S<BR/>VPL5SAA9IE : DC ON DEMAND ACCOUNT NBR INVALID FOR ACCOUNT TYPE<BR/>VPL5SAA9JE : DC ON DEMAND ACCOUNT NBR IS REQUIRED<BR/>VPL5SAA9KE : DC ON DEMAND RorT BANK ID INVALID FOR ACCOUNT TYPE<BR/>VPL5SAA9LE : DC ON DEMAND RorT BANK ID IS NOT A VALID NACHA FORMAT<BR/>VPL5SAA9NE : DC ON DEMAND IBAN IS INVALID FOR ACCOUNT TYPE<BR/>VPL5SAA9OE : DC ON DEMAND IBAN INVALID FOR LOGO<BR/>VPL5SAA9QE : DD IBAN IS REQUIRED IS INVALID FOR ACCOUNT TYPE<BR/>VPL5SAA9SE : DD IBAN IS INVALID FOR LOGO<BR/>VPL5SAA9PE : DD IBAN IS REQUIRED<BR/>VPL5SAA9UE : DC IBAN IS REQUIRED IS INVALID FOR ACCOUNT TYPE<BR/>VPL5SAA9VE : DC IBAN IS INVALID FOR LOGO<BR/>VPL5SAA9WE : DC IBAN IS REQUIRED<BR/>VPL5SAA9XE : DD IBAN REQD FOR IBAN ALIGNMENT<BR/>VPL5SAA9YE : DC IBAN NOT REQD FOR IBAN ALIGNMENT<BR/>VPL5SAA9ZE : ON-DEMAND IBAN NOT REQD FOR IBAN ALIGNMENT<BR/>VPL5SAA0GE : ALT EXPIRES DATE MUST BE EQUAL ZEROS<BR/>VPL5SAA0HE : RELATISHIP LOGO IS NOT VALID FOR PURCHASE CARDS<BR/>VPL5SAA0IE : RELATISHIP LOGO IS NOT VALID FOR CORPORATE CARDS<BR/>VPL5SAABDE : ON DEM DC BIC SHOULD BE SPACES<BR/>VPL5SAABFE : DD BIC SHOULD BE SPACES<BR/>VPL5SAABHE : DC BIC SHOULD BE SPACES<BR/>VPL5SAA0JE : MEMO BILLING CURRENCY MUST EQUAL ZEROS<BR/>VPL5SAA0KE : DUAL BILLING MUST NOT BE A VALUE OF 1 FOR RELATIONSHIP<BR/>VPL5SAACEE : DUE MUST NOT EQUAL ZEROS IF CUSTOMER SELECTED DUE DATE IS ACTIVE<BR/>VPL5SAA0LE : BILLING CYCLE MUST NOT EQUAL ZEROS<BR/>VPL5SAA0ME : CYCLE FIELD MUST EQUAL VALID CYCLES DEFINED ON SYSTEM RECORD<BR/>VPL5SAA0NE : ASSOCIATE REL TYPE MUST NOT EQUAL ZEROS<BR/>VPL5SAA0OE : ASSOCIATE ACCOUNT NUMBER MUST NOT EQUAL SPACES OR ZEROS<BR/>VPL5SAA0PE : ASSOCIATE ACCOUNT NUMBER MUST EQUAL SPACES OR ZEROS<BR/>VPL5SAA0QE : PRICING START DATE CAN NOT BE GREATER THAN PCT EXPIRE DATE<BR/>VPL5SAA0RE : PRICING STARTorEXPIRE DATE INVALID WHEN PCT ID EQUAL SPACES<BR/>VPL5SAA0SE : PRICING LEVEL EXPIRE DATE LESS THAN START DATE<BR/>VPL5SAA0TE : PCT LEVEL STARTorEXPIRE DATES INVALID WHEN PCT LEVEL NOT PROVIDED<BR/>VPL5SAA4UE : VARIANCE EFFECTIVE DATE INVALID WHEN RATE VARIANCES 1-12 = 0<BR/>VPL5SAA0UE : DATE TEMP CREDIT LIMIT EXPIRE IS NOT VALID FOR TEMP CREDIT LIMIT<BR/>VPL5SAA0VE : PREFER END DATE MUST BE GREATER THAN PREFER START DATE<BR/>VPL5SAA0WE : DATE PAYMENT EXPIRE MUST BE GREATER THAN PAYMENT START DATE<BR/>VPL5SAA0XE : DC ACH START DATE MUST BE LESS OR EQUAL DC ACH EXPIRE DATE<BR/>VPL5SAA0YE : DC REQUEST DAY INDICATOR MUST EQUAL ZEROS<BR/>VPL5SAA0ZE : DC REQUEST DAY MUST BE BETWEEN 01 AND 31<BR/>VPL5SAA1AE : DC REQUEST DAY MUST BE GREATER THAN ZERO<BR/>VPL5SAA1BE : FIXED PAYMENTorAMOUNT PERCENT FIELD INVALID<BR/>VPL5SAA1CE : FIXED PAYMENTorAMOUNT PERCENT FIELD INVALID WHEN OVERRIDE IS SPACE<BR/>VPL5SAA1DE : PAYMENT OVERRIDE MUST EQUAL SPACE<BR/>VPL5SAA1ES : PCT ENTRY DOES NOT EXIST<BR/>VPL5SAA1FS : ACCT CTL TABLE ID INVALID-CSHorRTL PLANSorCHGF ACRINT NOT OBTAINED<BR/>VPL5SAA1GS : ACCT CTL TABLE ID INVALID-CSHorRTL PLANSorCHGF ACRINT NOT OBTAINED<BR/>VPL5SAA1HS : FEE CTL TABLE ID INVALID - GRACE LIMITS FREQUENCIES NOT OBTAINED<BR/>VPL5SAA1IS : FEE CTL TABLE ID INVALID - GRACE LIMITS FREQUENCIES NOT OBTAINED<BR/>VPL5SAAL7E : DD DAYS INVALID WHEN ORGANIZATION IS SET TO ACH PRENOTE<BR/>VPL5SAAL8E : DD DAYS INVALID WHEN LOGO IS SET NOT ALLOW DD DAILY FREQUENCY<BR/>VPL5SAA1JS : AUTH CRITERIA TABLE NOT FOUND<BR/>VPL5SAABJE : INVALID ON DEM DC IBAN - MOD97 VALIDATION FAILED<BR/>VPL5SAABKE : INVALID DD IBAN - MOD97 VALIDATION CHECK FAILED<BR/>VPL5SAABLE : INVALID DC IBAN - MOD97 VALIDATION CHECK FAILED<BR/>VPL5SAABME : INVALID ON-DEM-BIC-FIELD VALID LENGTH IS 8 CHARS<BR/>VPL5SAABNE : INVALID DD-BIC-FIELD VALID LENGTH IS 8 CHARS<BR/>VPL5SAABOE : INVALID DC-BIC-FIELD VALID LENGTH IS 8 CHARS<BR/>VPL5SAABQE : INVALID DD-BIC-FIELD VALID LENGTH IS 11 CHARS<BR/>VPL5SAABRE : INVALID DC-BIC-FIELD VALID LENGTH IS 11 CHARS<BR/>VPL5SAABSE : INVALID MT PROMO PLAN<BR/>VPL5SAABXE : DEFAULT MT PLAN NUMBER MUST BE NUMERIC<BR/>VPL5SAABYE : MT PLAN NUMBER MUST BE ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAABZE : MT PLAN NUMBER NOT ON FILE<BR/>VPL5S9900S : RESOURCE IS UNAVAILABLE - CONTACT YOUR ADMINISTRATOR<BR/>VPL5SAA16E : ACCOUNT TYPE MUST = 0 1 2 OR 3<BR/>VPL5SAA17E : PRIMARY ACCOUNT FLAG MUST EQUAL SPACE OR P<BR/>VPL5SAA18E : CREDIT LIMIT MUST BE NUMERIC<BR/>VPL5SAA19E : CUSTOMER NUMBER REQUIRED<BR/>VPL5SAA20E : CARD FEE NOT NUMERIC<BR/>VPL5SAA21E : BILLING CURRENCY NOT NUMERIC<BR/>VPL5SAA22E : BILLING LEVEL MUST EQUAL 0 OR 1<BR/>VPL5SAA23E : DUAL BILLING FIELD MUST EQUAL 0 OR 1<BR/>VPL5SAA24E : ALT CUST FIELD MUST EQUAL A B C OR SPACE<BR/>VPL5SAA25E : ALT CUST ADDRESS EXPIRY DATE NOT NUMERIC<BR/>VPL5SAA26E : FLEX BILL FIELD MUST EQUAL N OR Y<BR/>VPL5SAA27E : OPENED DATE NOT NUMERIC<BR/>VPL5SAA28E : APPLI DATE NOT NUMERIC<BR/>VPL5SAA29E : CARD# SCHEME MUST EQUAL 0 1 2 OR 3<BR/>VPL5SAA30E : DUE DAY MUST BE NUMERIC<BR/>VPL5SAA31E : CYCLE VALUE INVALID - MUST BE BETWEEN ZEROS AND 31<BR/>VPL5SAA32E : STATEMENT FREQUENCY NOT NUMERIC<BR/>VPL5SAA33E : BLOCK CODE 1 VALID VALUES ARE SPACE OR A - Z<BR/>VPL5SAA34E : BLOCK CODE 2 VALID VALUES ARE SPACE OR A - Z<BR/>VPL5SAA35E : CUSTOMER STATEMENT FIELD MUST = 0 OR 1<BR/>VPL5SAA36E : CUSTOMER LETTER FIELD MUST = 0 1 OR 2<BR/>VPL5SAA37E : INCOME MUST BE NUMERIC<BR/>VPL5SAA39E : CARD EXPIRATION NOT NUMERIC<BR/>VPL5SAA40E : LIABILITY INDICATOR MUST = 0 1 OR 2<BR/>VPL5SAA41E : BUREAU SCORE NOT NUMERIC<BR/>VPL5SAA42E : IN HOUSE SCORE MUST BE NUMERIC<BR/>VPL5SAA43E : MISCELLANEOUS SCORE MUST BE NUMERIC<BR/>VPL5SAA44E : CREDIT BUREAU DATE NOT NUMERIC<BR/>VPL5SAA45E : TERMorCONDITIONS DATE IS NOT NUMERIC<BR/>VPL5SAA46E : WARNING CODE VALUES MUST BE 0 - 7<BR/>VPL5SAA47E : INVALID VALUE FOR AUTH CRITERIA TABLE<BR/>VPL5SAA49E : ACCOUNT ASSOCIATE REL TYPE MUST BE 0 - 4<BR/>VPL5SAA50E : ACCOUNT ASSOCIATE DATE MUST BE NUMERIC<BR/>VPL5SAA51E : ACCOUNT ASSOCIATE AMOUNT MUST BE NUMERIC<BR/>VPL5SAA52E : ACCOUNT ASSOCIATE TYPE MUST BE 0 - 9<BR/>VPL5SAA55E : STATE OF RESIDENCE CONTAINS INVALID CHARACTERS<BR/>VPL5SAA56E : STATE OF ISSUANCE CONTAINS INVALID CHARACTERS<BR/>VPL5SAA57E : ACCOUNT ASSOCIATE STATEMENT FLAG 1 MUST BE 0 - 2<BR/>VPL5SAA58E : ACCOUNT ASSOCIATE STATEMENT FLAG 2 MUST BE 0 - 2<BR/>VPL5SAA59E : ACCOUNT ASSOCIATE STATEMENT FLAG 3 MUST BE 0 - 2<BR/>VPL5SAA60E : ACCOUNT ASSOCIATE LETTER TYPE 1 MUST BE 0 - 2<BR/>VPL5SAA62E : ACCOUNT ASSOCIATE LETTER TYPE 3 MUST BE 0 - 2<BR/>VPL5SAA62E : ACCOUNT ASSOCIATE LETTER TYPE 3 MUST BE 0 - 2<BR/>VPL5SAA63E : ACCOUNT ASSOCIATE LETTER FEE 1 MUST BE 0 OR 1<BR/>VPL5SAA64E : ACCOUNT ASSOCIATE LETTER FEE 2 MUST BE 0 OR 1<BR/>VPL5SAA65E : ACCOUNT ASSOCIATE LETTER FEE 3 MUST BE 0 OR 1<BR/>VPL5SAA66E : PRICING CONTROL ID CONTAINS INVALID CHARACTERS<BR/>VPL5SAA67E : PRICING CONTROL START DATE IS NOT NUMERIC<BR/>VPL5SAA69E : PRICING CONTROL EXPIRE DATE IS NOT NUMERIC<BR/>VPL5SAA70E : PRICING LEVEL OVERRIDE MUST EQUAL SPACE L O OR S<BR/>VPL5SAA71E : PRICING LEVEL START DATE IS NOT NUMERIC<BR/>VPL5SAA72E : PRICING LEVEL EXPIRE DATE IS NOT NUMERIC<BR/>VPL5SAA73E : OWNERSHIP FLAG MUST EQUAL 0 1 OR 2<BR/>VPL5SAA74E : SKIP PAYMENT FLAG MUST = A M N V X OR Z<BR/>VPL5SAA75E : FREQUENT SHOPPER IND MUST EQUAL N OR Y<BR/>VPL5SAA76E : FRAUD REPORT MUST EQUAL N OR Y<BR/>VPL5SAA77E : WAIVE INTR CHARGE MUST EQUAL 0 OR 1<BR/>VPL5SAA78E : CASH LIMIT FIELD MUST EQUAL N T OR Y<BR/>VPL5SAA79E : PREPMT ALLOWED FIELD MUST EQUAL 0 1 OR 2<BR/>VPL5SAA80E : PREPMT MONTHS IS NOT NUMERIC<BR/>VPL5SAA81E : PREPMT ZERO FIELD MUST EQUAL 0 1 OR 2<BR/>VPL5SAA82E : LOAN LIMIT FIELD MUST EQUAL N T OR Y<BR/>VPL5SAA83E : INTEREST VARIANCE IS NOT NUMERIC<BR/>VPL5SAA84E : INTEREST VARIANCE EFFECTIVE DATE IS NOT NUMERIC<BR/>VPL5SAA85E : CASH PLAN NUMBER IS NOT NUMERIC<BR/>VPL5SAA86E : RETAIL PLAN NUMBER IS NOT NUMERIC<BR/>VPL5SAA87E : CONTROLLING PLAN OVERRIDE MUST = F P X OR SPACE<BR/>VPL5SAA88E : FIXED PAYMENTorAMOUNT PERCENT FIELD NOT NUMERIC<BR/>VPL5SAA89E : _1098 INDICATOR MUST EQUAL 0 1 OR  2<BR/>VPL5SAA90E : PAYMENT HOLD FIELD MUST EQUAL 0 OR 1<BR/>VPL5SAA91E : EXCLUDE FROM VAUorABU FIELD MUST = 0 OR 1<BR/>VPL5SAA92E : EMBOSSING CHECKING ROUTING NUMBER IS NOT NUMERIC<BR/>VPL5SAA93E : EMBOSSING SAVINGS ROUTING NUMBER IS NOT NUMERIC<BR/>VPL5SAA94E : CARD TECH FIELD MUST =  0 OR 1<BR/>VPL5SAA95E : TEMP CREDIT LINE IS NOT NUMERIC<BR/>VPL5SAA96E : TEMP CREDIT LINE EXPIRES DATE IS NOT NUMERIC<BR/>VPL5SAA97E : PREFER MINIMUM AMOUNT IS NOT NUMERIC<BR/>VPL5SAA98E : PREFER INTEREST DAYS IS NOT NUMERIC<BR/>VPL5SAA99E : PREFER START DATE IS NOT NUMERIC<BR/>VPL5SAAA0E : PREFER END DATE IS NOT NUMERIC<BR/>VPL5SAAA1E : PREFER PROMO DATE IS NOT NUMERIC<BR/>VPL5SAAA2E : DD INTERIM PAYMENTS MUST EQUAL 0 OR 1<BR/>VPL5SAAA3E : PAYMENT REMITTANCE METHOD MUST EQUAL 0 1 OR 2<BR/>VPL5SAAA4E : DD DAILY FREQUENCY VALUE MUST EQUAL 0 1 2 OR 3<BR/>VPL5SAAA5E : DD CREDIT BALANCE MUST = 0 OR 1<BR/>VPL5SAAA6E : DC PLAN NOT NUMERIC<BR/>VPL5SAAA7E : DD RorT or BANK ID NOT NUMERIC<BR/>VPL5SAAA8E : DCorRT or BANK ID NOT NUMERIC<BR/>VPL5SAAA9E : DD PAYMENT EXPIRES DATE IS NOT NUMERIC<BR/>VPL5SAAB0E : DC ACH PAYMENT EXPIRE DATE IS NOT NUMERIC<BR/>VPL5SAAB1E : DD PAYMENT START DATE IS NOT NUMERIC<BR/>VPL5SAAB2E : DC PAYMENT START DATE IS NOT NUMERIC<BR/>VPL5SAAB3E : DD ACCOUNT TYPE MUST EQUAL D OR S<BR/>VPL5SAAB4E : DD REQUEST DAY NOT NUMERIC<BR/>VPL5SAAB5E : DC ACCOUNT TYPE MUST EQUAL D OR S<BR/>VPL5SAAB7E : DC REQUEST DAY INDICATOR MUST EQUAL 0 1 2 3 OR 4<BR/>VPL5SAAB8E : DC REQUEST DAY NOT NUMERIC<BR/>VPL5SAAB9E : DD PAYMENT MUST EQUAL 0 1 2 6 OR 7<BR/>VPL5SAAC0E : DC AMOUNT NOT NUMERIC<BR/>VPL5SAAC1E : DD NOM AMTorPCT FLAG MUST = 0 1 2 3 4 OR 9<BR/>VPL5SAAC2E : DD NOM AMTorPCT MUST BE NUMERIC<BR/>VPL5SAAC3E : DD PYMT CHANGE DATE IS NOT NUMERIC<BR/>VPL5SAAC4E : SUPPRESS LETTER FIELD MUST EQUAL 0 OR 1<BR/>VPL5SAAC5E : LETTER HOLD CODE MUST EQUAL SPACE OR 0-9<BR/>VPL5SAAC6E : STATEMENT MESSAGE INDICATOR 1 MUST EQUAL 0 OR 1<BR/>VPL5SAAC7E : STATEMENT MESSAGE INDICATOR 2 MUST EQUAL 0 OR 1<BR/>VPL5SAAC8E : STATEMENT MESSAGE INDICATOR 3 MUST EQUAL 0 OR 1<BR/>VPL5SAAC9E : PROMO STATUS VALID VALUES ARE 0 OR 1<BR/>VPL5SAAD0E : AUTH LIMIT OVERRIDES FIELD MUST EQUAL 0 OR 1<BR/>VPL5SAAD1E : OWNING BRANCH NUMBER IS NOT NUMERIC<BR/>VPE5SAABKE : USER CODE 1 MUST BE NUMERIC - BGC COUPON INTERFACE ACTIVE<BR/>VPE5SAABLE : USER CODE 8 THE VALID VALUES ARE J1 AND SPACES ONLY<BR/>VPL5SAAD2E : USER DATE 1 IS NOT NUMERIC<BR/>VPL5SAAD3E : USER DATE 2 IS NOT NUMERIC<BR/>VPL5SAAD4E : USER DATE 3 IS NOT NUMERIC<BR/>VPL5SAAD5E : USER DATE 4 IS NOT NUMERIC<BR/>VPL5SAAD6E : USER DATE 5 IS NOT NUMERIC<BR/>VPL5SAAD7E : USER DATE 6 IS NOT NUMERIC<BR/>VPL5SAAD8E : USER DATE 7 IS NOT NUMERIC<BR/>VPL5SAAD9E : USER DATE 8 IS NOT NUMERIC<BR/>VPL5SAADAE : ANNUAL STMT FLAG MUST BE NUMERIC<BR/>VPL5SAADBE : ANNUAL STMT FLAG MUST BE 0 OR 1<BR/>VPL5SAADCE : ANNUAL STMT FLAG MUST BE 0 WHEN LOGO ANNUAL STATEMENT IS 0 OR 1<BR/>VPL5SAADEE : MARKETING OPT OUT MUST BE 012 OR 3<BR/>VPL5SAAE0E : USER DATE 9 IS NOT NUMERIC<BR/>VPL5SAAE1E : USER DATE 10 IS NOT NUMERIC<BR/>VPL5SAAE2E : USER DATE 11 IS NOT NUMERIC<BR/>VPL5SAAE3E : USER DATE 12 IS NOT NUMERIC<BR/>VPL5SAAE4E : USER DATE 13 IS NOT NUMERIC<BR/>VPL5SAAE5E : USER DATE 14 IS NOT NUMERIC<BR/>VPL5SAAE6E : USER AMOUNT 1 IS NOT NUMERIC<BR/>VPL5SAAE7E : USER AMOUNT 2 IS NOT NUMERIC<BR/>VPL5SAAE8E : USER AMOUNT 3 IS NOT NUMERIC<BR/>VPL5SAAE9E : USER AMOUNT 4 IS NOT NUMERIC<BR/>VPL5SAAF0E : USER AMOUNT 5 IS NOT NUMERIC<BR/>VPL5SAAF1E : USER AMOUNT 6 IS NOT NUMERIC<BR/>VPL5SAAF2E : USER AMOUNT 7 IS NOT NUMERIC<BR/>VPL5SAAF3E : USER AMOUNT 8 IS NOT NUMERIC<BR/>VPL5SAAF4E : USER AMOUNT 9 IS NOT NUMERIC<BR/>VPL5SAAF5E : USER AMOUNT 10 IS NOT NUMERIC<BR/>VPL5SAAF6E : USER AMOUNT 11 IS NOT NUMERIC<BR/>VPL5SAAF7E : USER AMOUNT 12 IS NOT NUMERIC<BR/>VPL5SAAF8E : USER AMOUNT 13 IS NOT NUMERIC<BR/>VPL5SAAF9E : USER AMOUNT 14 IS NOT NUMERIC<BR/>VPL5SAA53E : WAIVE INT FIELD MUST EQUAL 0 OR 1<BR/>VPL5SAAG0E : WAIVE LATE CHARGES FIELD MUST = 0 OR 1<BR/>VPL5SAAG1E : WAIVE LATE NOTICES FIELD MUST = 0 OR 1<BR/>VPL5SAAG2E : WAIVE MEMBERSHIP FIELD MUST = 0 OR 1<BR/>VPL5SAAG3E : WAIVE LETTER FEE FIELD MUST = 0 OR 1<BR/>VPL5SAAG4E : WAIVE OVERLIMIT FEE FIELD MUST = 0 OR 1<BR/>VPL5SAAG5E : WAIVE OVERLIMIT NOTICE FIELD MUST = 0 OR 1<BR/>VPL5SAAG6E : WAIVE NSF 1-5 FIELD MUST = 0 1 2 OR 3<BR/>VPL5SAAG7E : WAIVE SVC FEES FIELD MUST = 0 1 2 OR 3<BR/>VPL5SAAG8E : WAIVE CASH ADVANCE FEE FIELD MUST = 0 1 2 OR 3<BR/>VPL5SAAG9E : WAIVE USER FEES 1 FIELD MUST = 0 OR 1<BR/>VPL5SAAH0E : WAIVE USER FEES 2 FIELD MUST = 0 OR 1<BR/>VPL5SAAH1E : WAIVE USER FEES 3 FIELD MUST = 0 OR 1<BR/>VPL5SAAH2E : WAIVE USER FEES 4 FIELD MUST = 0 OR 1<BR/>VPL5SAAH3E : WAIVE USER FEES 5 FIELD MUST = 0 OR 1<BR/>VPL5SAAH4E : WAIVE USER FEES 6 FIELD MUST = 0 OR 1<BR/>VPL5SAAH5E : DORMANCY FIELD MUST = 0 OR 1<BR/>VPL5SAAH6E : REFUND FIELD MUST = 0 OR 1<BR/>VPL5SAAH7E : STMT FIELD MUST = 0 OR 1<BR/>VPL5SAAH8E : WAIVE INTL ATM TXN FEE MUST = 0 OR 1<BR/>VPL5SAA4PE : WAIVE DOM ATM TXN FEE MUST = 0 OR 1<BR/>VPL5SAA4QE : WAIVE INTL POS TXN FEE MUST = 0 OR 1<BR/>VPL5SAA4RE : WAIVE DOM POS TXN FEE MUST = 0 OR 1<BR/>VPL5SAA4SE : WAIVE LOAD TXN FEE MUST = 0 OR 1<BR/>VPL5SAA4TE : WAIVE RELOAD TXN FEE MUST = 0 OR 1<BR/>VPL5SAAH9E : PLAN NUMBER IS NOT NUMERIC<BR/>VPL5SAAI0E : LOAD FREQUENCY MUST EQUAL 1 2 OR 3<BR/>VPL5SAAI1E : LOAD FREQUENCY NBR MUST BE BETWEEN 01 AND 99<BR/>VPL5SAAI2E : SINGLE LOAD MIN IS NOT NUMERIC<BR/>VPL5SAAI3E : MAXIMUM LOAD IS NOT NUMERIC<BR/>VPL5SAAI4E : SINGLE LOAD MAX IS NOT NUMERIC<BR/>VPL5SAA05E : FCTN DD DAYS VALID VALUES ARE 0 1 ONLY<BR/>VPL5SAA06E : NBR DD DAYS MUST BE 00 THROUGH 30<BR/>VPL5SAA9AE : INVALID DC ON DEMAND ACCOUNT TYPE VALID VALUES ARE SPACE D OR S<BR/>VPL5SAA9CE : INVALID DC ON DEMAND RorT BANK ID IS NOT NUMERIC<BR/>VPL5SAAAAE : ST DATE MUST BE NUMERIC<BR/>VPL5SAAABE : DEFAULT PROMO PLAN MUST BE NUMERIC<BR/>VPL5SAAACE : INVALID CONV CHEQUE ORDERING - A N C S E F G H R ONLY<BR/>VPL5SAAADE : INVALID CONV CHEQUE DISPATCH METHOD - C D F R ONLY<BR/>VPL5SAAAEE : INVALID FISCAL YEAR END - 0 THROUGH 12 ONLY<BR/>VPL5SAAAFE : INVALID CARD STATEMENT - 0 1 2 ONLY<BR/>VPL5SAAAGE : INVALID ACCT LIMIT CHECK - 0 1 ONLY<BR/>VPL5SAAAHE : INVALID FREQUENCY - 0 1 2 3 ONLY<BR/>VPL5SAAAIE : QUASI CASH AMOUNT MUST BE NUMERIC<BR/>VPL5SAAAJE : QUASI CASH NUMBER MUST BE NUMERIC<BR/>VPL5SAAAKE : ATM CASH AMOUNT MUST BE NUMERIC<BR/>VPL5SAAALE : ATM CASH NUMBER MUST BE NUMERIC<BR/>VPL5SAAAME : OTC CASH AMOUNT MUST BE NUMERIC<BR/>VPL5SAAANE : OTC CASH NUMBER MUST BE NUMERIC<BR/>VPL5SAAAOE : TOTAL CASH AMOUNT MUST BE NUMERIC<BR/>VPL5SAAAPE : TOTAL CASH NUMBER MUST BE NUMERIC<BR/>VPL5SAAAQE : RETAIL PURCH AMT MUST BE NUMERIC<BR/>VPL5SAAARE : RETAIL PURCH NBR MUST BE NUMERIC<BR/>VPL5SAABBE : CARD SCHEME MUST BE 3 FOR MULTI-SCHEME ACCOUNT<BR/>VPL5SAABCE : RELATIONSHIP NOT ALLOWED FOR MULTI-SCHEME ACCOUNT<BR/>VPL5SAAASE : ALT EXPIRES ST DATE NOT A VALID DATE<BR/>VPL5SAAATE : ALT EXPIRES ST DATE CAN NOT BE LESS THAN NEXT PROCESSING DATE<BR/>VPL5SAAAUE : ALT CUST NBR EXPIRE DATE MUST BE = OR > ST DATE<BR/>VPL5SAAAVE : ST DATE ALT CUST NBR EXPIRE DATE AND ALT CUST NBR ARE REQUIRED<BR/>VPL5SAAAWE : CORRES CUST NBR NOT ON FILE<BR/>VPL5SAAAXE : PROMO PLAN NUMBER MUST BE ZEROS FOR PREPAID ACCOUNT TYPE<BR/>VPL5SAAAYE : PROMO PLAN NUMBER INVALID FOR NON BANKCARD ACCOUNTS<BR/>VPE5SAAAZE : PROMO PLAN NUMBER NOT ON FILE<BR/>VPE5SAABGE : CARD EXPIR ALIGN: CRD EXP MUST BE > GREATEST EXP DT<BR/>VPE5SAABHE : CRD EXP MUST BE >= FORCE REISSUE DAYS<BR/>VPE5SAABIE : PAYMENT ACH BANK ID REQUIRED IF PAYMENT ACH 127<BR/>VPE5SAABME : USER AMT 1 and USER CODE 1 MUST BE > 0 -BGC COUPON INTERFACE ACTIVE<BR/>VPE5SAABPE : DD-INTERMIN PYM AMOUNT OR DD-INTERMIN PYM TRAN CODE MISSING<BR/>VPE5SAABQE : RERESENTMENT NOT ALLOWED DD AUTO REPRESENTMENT PROCESS IS ACTIVE<BR/>VPE5SAABRE : CUSTOMER ALREADY ENROLLED TO DDVALID TXN D OR C<BR/>VPE5SAABSE : DD DETAILS NOT ENTERED<BR/>VPE5SAABTE : DC DETAILS NOT ENTERED<BR/>VPE5SAABUE : FIRST TIME ENROLLEE OR DD FACILITY REVOKED. VALID VALUES F OR R<BR/>VPE5SAABWE : DD INTERMIN DATE IS REQUIRED IF DD INTERMIN AMOUNT IS > ZERO<BR/>VPE5SAABXE : DD INTERMIN DATE IS INVALID<BR/>VPE5SAABZE : INTERIM DD PAYMENT DATE INVALID WRT BACS CALENDAR<BR/>VPE5SAABYE : INTERIM DD PAYMENT DATE MUST BE >= TODAYS JULAIN-FOR NON-CLH ORGS<BR/>VPL5SAAL3E : HCS MUST BE ACTIVE FOR ACCOUNT TYPE VALUES 1 2 OR 3<BR/>VPL5SAACAW : DC BANK ID DOES NOT PARTICIPATE IN FPS<BR/>VPL5SAACBW : ON DEMAND DC BANK ID DOES NOT PARTICIPATE IN FPS<BR/>VPE5SAACEE : VALUE MUST BE ZEROS WHEN APR COMPUTATION IS USED<BR/>VPE5SAACGE : VALUE MUST BE ZEROS WHEN APR COMPUTATION IS USED<BR/>VPE5SAACNE : PMT ENVL REQ CANNOT BE ''Y'' WHEN LOGO PMT ENVL INCL SET TO NO<BR/>VPE5SAACIE : IPP SOURCE NOT FOUND IN LOGO INS IPP SOURCE<BR/>VPE5SAACLE : AUTO REAGE OVRRD CANNOT BE ONE WHEN LOGO PMT ARF AUTO METH B<BR/>VPE5SAABJE : VALID VALUE FOR PBT-DISC-CYCLE-IND IS ''0'' THRU ''9'' OR ''A''<BR/>VPE5SAABNE : DD INTERIM PAYMENT AMOUNT IS NO VALID<BR/>VPE5SAABOE : VALID VALUE FOR BACS CODE ARE ''R'' ''F'' ''D'' ''C'' ''B''<BR/>VPL5SAA9DE : <BR/>VPL5SAA9EE : <BR/>VPE5SAACFE : VALUE MUST BE ZEROS WHEN APR COMPUTATION IS USED<BR/>VPE5SAACQE : APR RETAIL NON NUMERIC<BR/>VPE5SAACRE : APR BAL XFR NON NUMERIC<BR/>VPE5SAACEE : VALUE MUST BE ZEROS WHEN APR COMPUTATION IS USED<BR/>VPE5SAACFE : VALUE MUST BE ZEROS WHEN APR COMPUTATION IS USED<BR/>VPE5SAACGE : VALUE MUST BE ZEROS WHEN APR COMPUTATION IS USED<BR/>VPE5SAACOE : INVALID ACC BGC GENERATION<BR/>VPE5SAACPE : INVALID ACC PMT ENVL REQ IND<BR/>VPE5SAACHE : INVALID PLST DSPCH NTFY MTHD OVDNOT 00010203 OR 99<BR/>VPE5SAACJE : INVALID IPP SOURCE<BR/>VPE5SAACKE : INVALID OVLM PROTECTION FLAG<BR/>VPE5SAACME : INVALID AUTO REAGE OVRD<BR/>VPE5SAACSE : OTB SMS IND INVALID<BR/>VPE5SAACTE : OTB THRESHOLD INVALID<BR/>VPE5SAACUE : CHANNEL IND INVALID<BR/>VPE5SAACVE : AUTH SMS IND INVALID<BR/>VPE5SAACWE : AUTH THRESHOLD INVALID<BR/>VPE5SAACXE : OTA SMS IND INVALID<BR/>VPE5SAACYE : OTA THRESHOLD INVALID<BR/>VPE5SAACZE : CARD ACT SMS INVALID<BR/>VPL5SAA71S : PMT DUE ALERT MUST BE ACTIVE AT LOGO<BR/>VPL5SAA72S : VALID VALUES ARE 012 OR 3 FOR PMT DUE ALERT<BR/>VPL5SAA73S : SPEND LIMIT ALERT MUST BE ACTIVE AT LOGO<BR/>VPL5SAA74S : VALID VALUES ARE 012 OR 3 FOR SPND LIMIT ALERT<BR/>VPL5SAA75S : CRDT LIMIT ALERT MUST BE ACTIVE AT LOGO<BR/>VPL5SAA76S : VALID VALUES ARE 012 OR 3 FOR CRDT LIMIT ALERT<BR/>VPL5SAA77S : OVER LIMIT ALERT MUST BE ACTIVE AT LOGO<BR/>VPL5SAA78S : VALID VALUES ARE 012 OR 3 FOR OVER LIMIT ALERT<BR/>VPL5SAA79S : VALID VALUES ARE 0 T0 15 FOR DUE DAYS AND PMTDUE ALT SHD BE OPTIN<BR/>VPL5SAA7AS : SPND LMT AMT SHD BE NUMERIC AND SPND LMT ALERT SHOULD BE OPTIN<BR/>VPL5SAA7BS : CRDT LMT AMT SHD BE NUMERIC AND CRDT LMT ALERT SHOULD BE OPTIN<BR/>VPL5SNG01S : SERVICE INPUT TO NorG SERVICE IS AN INCORRECT LENGTH<BR/>VPL5SNG03S : FILE-TABLE USED BY THIS SERVICE IS NOT FOUND<BR/>VPL5SNG04S : ONLY NUMERIC ACCOUNT NUMBERS ALLOWED FOR AUTO GENERATION<BR/>VPL5SNG05S : ORG NUMBER MUST BE NUMERIC BETWEEN 001-998<BR/>VPL5SNG06S : LOGO MUST BE NUMERIC BETWEEN 001-998 FOR NBR REQUESTED<BR/>VPL5SNG07S : AUTO GENERATION NOT ALLOWED IN THIS ORG<BR/>VPL5SNG08S : MAX ATTEMPTS REACHED FOR CUSTorREL NUMBER AUTO GEN<BR/>VPL5SNG09S : NO NUMBERS AVAILABLE IN THIS ORG<BR/>VPL5SNG10S : AUTO GENERATION NOT ALLOWED IN THIS LOGO<BR/>VPL5SNG11S : NO NUMBERS AVAILABLE IN THIS LOGO<BR/>VPL5SNG12S : LOGO DOES NOT ALLOW BILLING NBR GENERATE<BR/>VPL5SNG13S : ARXNGS1 - LK-AROACTED ERROR<BR/>VPL5SNG14S : BILLINGorCNTL NBR REQUESTED BUT NOT ACTIVE ON SYSTEM REC<BR/>VPL5SNG15S : ORG DOES NOT USE DUAL CURRENCY<BR/>VPL5SNG16S : SERVICE COULD NOT OBTAIN STORAGE AREA<BR/>VPL5SNG17S : ORGANIZATION NUMBER NOT FOUND<BR/>VPL5SNG18S : INVALID CHECK-DIGIT - POSSIBLE SEED TABLE ERROR<BR/>VPL5SNG21E : CUSTOMER NUMBER INDICATOR MUST BE NUMERIC AND 0-10<BR/>VPL5SNG22E : RELATIONSHIP NUMBER INDICATOR MUST BE NUMERIC AND 0-10<BR/>VPL5SNG23E : ACCOUNT NUMBER INDICATOR MUST BE NUMERIC AND 0-10<BR/>VPL5SNG24E : BILLING ACCOUNT NUMBER INDICATOR MUST BE NUMERIC AND 0-10<BR/>VPL5SNG25E : CNTLorDIV ACCT NUMBER INDICATOR MUST BE NUMERIC AND 0-10<BR/>VPL5SNG26E : CARD NUMBER INDICATOR MUST BE NUMERIC AND 0-10<BR/>VPL5SNG27E : NO FOREIGN ORG EXISTS FOR LOCAL ORG<BR/>VPL5SNG28E : INVALID CHECK DIGIT<BR/>VPL5SNG29E : FOREIGN USE INDICATOR MUST BE 0 OR 1<BR/>VPL5SNG30S : MAX ATTEMPTS REACHED FOR ACCTorCARD NUMBER AUTO GEN<BR/>VPL5SNG31S : MAX ATTEMPTS REACHED FOR BILLorCNTL NUMBER AUTO GEN<BR/>VPL5SNG32S : LOGO NUMBER NOT FOUND<BR/>VPL1S1101S : REQUEST CODE IS INVALID #1                                       REQUEST CODE IS INVALID #1<BR/>VPL1S1102S : ORGANIZATION NUMBER VERFICATION ERROR #1<BR/>VPL1S1103S : ORGANIZATION NUMBER VERFICATION ERROR #2<BR/>VPL1S1104S : NO SIGNON RECORD FOUND OR USER HAS TIMED OUT<BR/>VPL1S1105S : NO NUMBERS REMAIN IN NUMBER GENERATION TABLE<BR/>VPL1S1106S : NUMBER GENERATION FILES ARE NOT AVAILABLE - TRY AGAIN SOON!!!<BR/>VPL1S1107S : ORGANIZATION NUMBER VERFICATION ERROR #3<BR/>VPL1S1108S : REQUEST CODE IS INVALID #2<BR/>VPL1S1109S : MAXIMUM ITERATIONS WAS ATTEMPTED--NO SUCCESSFUL NUMBER GENERATED<BR/>VPL1S1110S : LIST OR ENTRY SEQUENCED LIST LENGTH MISMATCH<BR/>VPL1S1111S : V+ CHECK DIGIT ROUTINE WAS INVALID FOR THE NUMBER SELECTED<BR/>VPL1S1112S : USER-EXIT CHECK-DIGIT ROUTINE RESULTED IN AN INVALID CHECK DIGIT<BR/>VPL1S1113S : USER-EXIT OR LOGIC ERROR OCCURRED IN THE SERVICE<BR/>VPL1S1114S : BILLING ACCOUNT INDICATOR MUST BE NUMERIC AND BE A 0 1 2 OR 3<BR/>VPL1S1115S : BILLING ACCOUNT INDICATOR MUST BE NUMERIC AND BE A 0 1 2 OR 3<BR/>VPL1S1116S : NUMBER GENERATION TABLE DOES NOT EXIST<BR/>VPL1S1117S : NUMBER GENERATION TABLE IS IN AN INCOMPLETE STATUS<BR/>VPL1S1118S : NUMBER GENERATION TABLE IS NOT ACTIVE<BR/>VPL1S1119S : NUMBER GENERATION APPLICATION NUMBER MISMATCH FOUND DURING VERIFY<BR/>VPL1S1120S : NUMBER GENERATION ORGANIZATION NBR MISMATCH FOUND DURING VERIFY<BR/>VPL1S1121S : NUMBER GENERATION LOGO NUMBER MISMATCH FOUND DURING VERIFY<BR/>VPL1S1122S : BILLING ACCOUNT INDICATOR MUST BE 0 OR 1 ON A VERIFICATION<BR/>VPL1S1123S : BILLING ACCOUNT INDICATOR MISMATCH<BR/>VPL5SAA87E : CONTROLLING PLAN OVERRIDE MUST = F P X OR SPACE<BR/>VPL5SAAERE : OPTIONS A B C ARE NOT AVAILABLE. TURN ON LOGO FLAG.<BR/>VPL5SAAETE : TEMP OPTIONS A B C ARE NOT AVAILABLE. TURN ON LOGO FLAG.<BR/>VPL5SAAEUE : TEMP OPTIONS MUST = F P X A B C OR SPACE.<BR/>VPL5SAAEVE : TEMP AMTorPRCNT MUST NOT BE ZEROS WHEN OPTION A OR B IS SELECTED.<BR/>VPL5SAAEWE : TEMP AMTorPRCNT NOT ALLWD FOR A B C WHEN LOGO FLG IS OFF.<BR/>VPL5SAAEXE : INVALID INPUT FOR TEMP AMTorPRCNT.<BR/>VPL5SAAEYE : TEMP EXPR DATE NOT ALLWD FOR A B C WHEN LOGO FLG IS OFF.<BR/>VPL5SAAEZE : INVALID INPUT FOR TEMP EXPIRY DATE.<BR/>VPL5SAAFAE : AMTorPRCNT MUST BE ZEROS WHEN OPTION C IS SELECTED.<BR/>VPL5SAAFBE : TEMP FXD PMT OVERRIDE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE.<BR/>VPL5SAAFCE : TEMP FXD PMT AMTorPCT MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE.<BR/>VPL5SAAFDE : TEMP FXD PMT EXP DATE MUST EQUAL ZEROS FOR PREPAID ACCOUNT TYPE.<BR/>VPL5SAAFEE : TEMP FIXED PAYMENTorAMOUNT PERCENT FIELD INVALID.<BR/>VPL5SAAFFE : TMP FXD PMTorAMT PERCENT FIELD INVALID WHEN OVERRIDE IS SPACE.<BR/>VPL5SAAFGE : TEMP PAYMENT OVERRIDE MUST EQUAL SPACE.<BR/>VPL5SAAFHE : TEMP PMT MTHD EXP MUST BE VLD AND GREATER THAN ACCRU THRU DATE'
          schema:
            $ref: '#/definitions/FsErrorDetails'
      deprecated: false
      x-proxy-name: Account Add v1
      x-region:
        - EMEA
      x-display: Account Maintenance
  /fv_emea/v1/accountBlockCodeUpdate:
    post:
      tags:
        - Account Maintenance
      summary: AccountBlockCodeUpdate
      description: 'This service is used to update the Account Block Code.<p>This service can be called with an account number. When either Block Code 1 or Block Code 2 has a value of space, the new Block code can be applied to the unused entry. If there is an entry in the Block Code, the system is using the block code priorities established on the Logo record. The message then will check if the new block code has a higher priority than the block code it is replacing. If so new block code will be applied else the old will remain. Additional to this function a restructure flag has been added.<BR/><BR/><p>Fields that are not provided in the Request object will be initialised to their default values. All numeric fields are initialised to zero and alphanumeric fields initialised to spaces</p>'
      operationId: accountBlockCodeUpdate_v1_fv_emea
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AccountBlockCodeUpdateRequest'
        - name: Authorization
          in: header
          description: OAuth2.0 access token (Bearer token) that you get from security API
          required: true
          type: string
          default: Bearer <token>
        - name: Content-Type
          in: header
          description: Request content type
          required: false
          type: string
          default: application/json
        - name: AppCode
          in: header
          description: Application code identifying the calling application within a client system
          required: false
          type: string
          default: 'Please reach out to FirstVision API team to get the right values for your application. '
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AccountBlockCodeUpdateResponse'
        '400':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-003 - Invalid request. This could be because of invalid data in the request or header, among other reasons.<BR/>API-Sec-004 - Invalid request. The client_assertion JWT is invalid<BR/>API-Sec-013 - The JWT has an invalid expiry. Pleases end a request with a valid JWT'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '401':
          description: 'Unauthorized: Authorization failed due to missing or invalid credentials. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-001 - The auth header has invalid values. Please try with valid values<BR/>API-Sec-002 - The client id provided is invalid. Please try with valid client id<BR/>API-Sec-007 - The access token is invalid. It may have expired, or maybe incorrect'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '403':
          description: 'Forbidden: Insufficient access for requested operation. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-006 - Replay attack detected. Please try again with valid data<BR/>API-Sec-008 - Mismatch in scope. The access token does not have the permission to access this resource'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '404':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-005 - Resource not found'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '429':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-009 - You have exceeded the App level quota<BR/>API-Sec-010 - You have exceeded the Developer level quota<BR/>API-Sec-011 - You have exceeded the Product level quota<BR/>API-Sec-012 - Too many requests for this API. Please try after sometime'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '452':
          description: 'System Exception: Internal processes not related to client interaction with application are the cause of the failure'
        '453':
          description: 'Validation Exception: The request failed validation, modify the request and resubmit'
        '455':
          description: 'ODS Error Exception: ODS returned a message with transaction status ERROR'
        '465':
          description: ' Backend Response Code and message in odsMessages field: <BR/><BR/>VPL5SAB01S : SERVICE COULD NOT OBTAIN STORAGE AREA<BR/>VPL5SAB02S : SERVICE INPUT TO AB SERVICE IS AN INCORRECT LENGTH<BR/>VPL5SAB04S : FILE-TABLE USED BY THIS SERVICE IS MISSING<BR/>VPL5SAB05S : CANNOT SET A BLOCK CODE ON A BILLING ACCOUNT<BR/>VPL5SAB06S : ACCOUNT NUMBER OR CARD NUMBER MUST BE PROVIDED<BR/>VPL5SAB07S : ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 001-998<BR/>VPL5SAB08S : ORGANIZATION NOT DETERMINED<BR/>VPL5SAB09S : SYSTEM RECORD NOT FOUND<BR/>VPL5SAB10S : ORGANIZATION NUMBER NOT FOUND<BR/>VPL5SAB11S : LOGO NUMBER NOT FOUND<BR/>VPL5SAB12S : CARD NUMBER NOT FOUND<BR/>VPL5SAB13S : BLOCK CODE CANNOT BE REPLACED WITH ONE OF A LOWER PRIORITY<BR/>VPL5SAB21E : INVALID FOREIGN USE IND SPECIFIED - VALID VALUES ARE 0-2<BR/>VPL5SAB22E : INVALID FUNCTION CODE - VALID VALUES ARE B OR U<BR/>VPL5SAB23E : INVALID BLOCK CODE<BR/>VPL5SAB24E : BLOCK CODE MUST EQUAL SPACE TO UNBLOCK ACCOUNT<BR/>VPL5SAB25E : MUST SPECIFY ACCOUNT BLOCK CODE 1 OR 2 TO UNBLOCK ACCOUNT<BR/>VPL5SAB26E : BLOCK CODE INDICATOR MUST BE NUMERIC AND EQUAL 0 1 OR 2<BR/>VPL5SAB27S : CMS IS NO-PROCESSING STATE. RE-TRY REQUEST IN A FEW MINUTES<BR/>VPL5SAB28S : DEFAULT PROMO PLAN NUMBER IS NOT NUMERIC<BR/>VPL5SAB29S : DEFAULT PROMO PLAN SHOULD BE ZEROS FOR PREPAID ACCOUNTS<BR/>VPL5SAB32S : ALT CUST ADDRESS START DATE NOT NUMERIC<BR/>VPL5SAB33E : INVALID ON DEM DC IBAN - MOD97 VALIDATION FAILED<BR/>VPL5SAB34E : INVALID DD IBAN - MOD97 VALIDATION CHECK FAILED<BR/>VPL5SAB35S : CORRESPONDING CUSTOMER NUMBER NOT FOUND<BR/>VPL5SAB40S : RELATIONSHIP MASTER FILE IS NOT OPEN<BR/>VPL5SAB41S : RELATIONSHIP RECORD NOT FOUND ON MASTER FILE<BR/>VPL5SAB42E : VALID VALUES FOR ACCOUNT RESTUCTURE ARE ''Y'' OR ''N''<BR/>VPL5SAB42S : RELATIONSHIP BLOCK CODE HAS HIGHER PRIORITY THAN NEW BLOCK COD'
          schema:
            $ref: '#/definitions/FsErrorDetails'
      deprecated: false
      x-proxy-name: Account Block Code Update v1
      x-region:
        - EMEA
      x-display: Account Maintenance
  /fv_emea/v1/accountClose:
    post:
      tags:
        - Account Maintenance
      summary: AccountClose
      description: 'This service is used to update the Status of an Account to a ''Closed'' or ''Charged-off'' status. For each update, the Account has to be in a specific state as per FirstVision validation - for further information on this, refer to the FirstVision User Manual for the rules governing the Closure and Charge-off of an Account - if the validation fails then the request will fail with an appropriate description.<p><p>For ACCOUNT CLOSURE: The functionCode will be set to ''0'' for the input Account number.<p><p>For MANUAL CHARGEOFF: The functionCode will be set to ''1'' for the input Account number.<p><p>For MANUAL CHARGEOFF WITH REASON CODE: The functionCode will be set to ''2'' and a valid chgoffReason code will populated for the input Account number.<p><p>For CHARGEOFF BLOCKED: The functionCode will be set to ''3'' for the input Account number. If successful, the ability to do a charge-off on the Account will be ''Blocked''.<BR/><BR/><p>Fields that are not provided in the Request object will be initialised to their default values. All numeric fields are initialised to zero and alphanumeric fields initialised to spaces</p>'
      operationId: accountClose_v1_fv_emea
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AccountCloseRequest'
        - name: Authorization
          in: header
          description: OAuth2.0 access token (Bearer token) that you get from security API
          required: true
          type: string
          default: Bearer <token>
        - name: Content-Type
          in: header
          description: Request content type
          required: false
          type: string
          default: application/json
        - name: AppCode
          in: header
          description: Application code identifying the calling application within a client system
          required: false
          type: string
          default: 'Please reach out to FirstVision API team to get the right values for your application. '
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AccountCloseResponse'
        '400':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-003 - Invalid request. This could be because of invalid data in the request or header, among other reasons.<BR/>API-Sec-004 - Invalid request. The client_assertion JWT is invalid<BR/>API-Sec-013 - The JWT has an invalid expiry. Pleases end a request with a valid JWT'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '401':
          description: 'Unauthorized: Authorization failed due to missing or invalid credentials. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-001 - The auth header has invalid values. Please try with valid values<BR/>API-Sec-002 - The client id provided is invalid. Please try with valid client id<BR/>API-Sec-007 - The access token is invalid. It may have expired, or maybe incorrect'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '403':
          description: 'Forbidden: Insufficient access for requested operation. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-006 - Replay attack detected. Please try again with valid data<BR/>API-Sec-008 - Mismatch in scope. The access token does not have the permission to access this resource'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '404':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-005 - Resource not found'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '429':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-009 - You have exceeded the App level quota<BR/>API-Sec-010 - You have exceeded the Developer level quota<BR/>API-Sec-011 - You have exceeded the Product level quota<BR/>API-Sec-012 - Too many requests for this API. Please try after sometime'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '452':
          description: 'System Exception: Internal processes not related to client interaction with application are the cause of the failure'
        '453':
          description: 'Validation Exception: The request failed validation, modify the request and resubmit'
        '455':
          description: 'ODS Error Exception: ODS returned a message with transaction status ERROR'
        '465':
          description: ' Backend Response Code and message in odsMessages field: <BR/><BR/>VPL5SCC01S : ACCOUNT OR CARD NUMBER IS REQUIRED<BR/>VPL5SCC02S : ORGANIZATION NOT DETERMINED<BR/>VPL5SCC03S : REQUESTED ORG NUMBER IS NOT FOUND<BR/>VPL5SCC04S : ORGANIZATION NUMBER NOT FOUND ON FILE<BR/>VPL5SCC05S : FOREIGN ORG RECORD NOT FOUND ON FILE<BR/>VPL5SCC06S : LOGO NUMBER NOT FOUND ON FILE<BR/>VPL5SCC10S : INVALID INTERNAL STATUS 8<BR/>VPL5SCC11S : STATUS CANNOT CHANGE TO CLOSED WHEN INSURANCE IS ACTIVE<BR/>VPL5SCC12S : CANNOT MANUAL CHGOFF AN ACCT WITH A ZERO OR CREDIT BALANCE<BR/>VPL5SCC13S : CANNOT RESET CHARGEOFF ON ACCOUNT WHEN DAYS IS > 0<BR/>VPL5SCC14S : CANNOT MANUAL CHARGE OFF THIS ACCT<BR/>VPL5SCC15S : CANNOT CHARGEOFF WITH RSN AN ACCT WITH 0 BAL OR CREDIT BAL<BR/>VPL5SCC16S : VALID ENTRIES FOR RSN CODE POSITION 1 ARE C B F OR T<BR/>VPL5SCC17S : ENTERED AUTO CorO RSN CODE - PLS CHG TO MANUAL RSN<BR/>VPL5SCC18S : RSN CODE MUST BE DEFINED ON ARML24<BR/>VPL5SCC19S : CANNOT CHARGEOFF WITH RSN ACCT CorO STAT MUST = 0<BR/>VPL5SCC21E : ORGANIZATION NUMBER MUST BE NUMERIC AND VALID VALUES ARE 000-998<BR/>VPL5SCC22E : FOREIGN USE MUST = SPACES 0LOCAL OR 1FOREIGN<BR/>VPL5SCC23E : REASON CODE IS REQUIRED FOR FUNC 2 - CHGOFF WITH RSN<BR/>VPL5SCC24E : VALID FUNC INDICATOR IS 0-ACCT CLS 1-MANUAL CHGOFF 2-CHGOFF RSN<BR/>VPL5SCCZ1S : SERVICE COULD NOT OBTAIN STORAGE AREA<BR/>VPL5SCCZ2S : SERVICE INPUT TO ACCT CLOSEorCHGOFF SVC IS AN INCORRECT LENGTH<BR/>VPL5SCCZ4S : FILE TABLE USED BY THIS SERVICE IS NOT FOUND<BR/>VPL5SCCZ5S : APPLICATION IN NO-PROCESSING STATUS RE-TRY IN A FEW MINUTES<BR/>VPL5SCCZ7S : ORGANIZATION FILE UNAVAILABLE<BR/>VPL5SCCZ9S : ACCOUNT FILE UNAVAILABLE<BR/>VPL5SCCZAS : ACCOUNT NOT FOUND<BR/>VPL5SCCZBS : LOGO FILE UNAVAILABLE<BR/>VPL5SCC08I : ACCOUNT STATUSorCHARGE OFF DATA UNCHANGED UPDATE BYPASSED<BR/>VPL5S9900S : RESOURCE IS UNAVAILABLE - CONTACT YOUR ADMINISTRATO'
          schema:
            $ref: '#/definitions/FsErrorDetails'
      deprecated: false
      x-proxy-name: Account Close v1
      x-region:
        - EMEA
      x-display: Account Maintenance
  /fv_emea/v1/accountCustomFieldsUpdate:
    post:
      tags:
        - Account Maintenance
      summary: AccountCustomFieldsUpdate
      description: 'This service is used to update specific fields at account level for a Customer, including Contact Indicator, Disablity Indicator  and Marketing Opt In or Out.'
      operationId: accountCustomFieldsUpdate_v1_fv_emea
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AccountCustomFieldsUpdateRequest'
        - name: Authorization
          in: header
          description: OAuth2.0 access token (Bearer token) that you get from security API
          required: true
          type: string
          default: Bearer <token>
        - name: Content-Type
          in: header
          description: Request content type
          required: false
          type: string
          default: application/json
        - name: AppCode
          in: header
          description: Application code identifying the calling application within a client system
          required: false
          type: string
          default: 'Please reach out to FirstVision API team to get the right values for your application. '
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AccountCustomFieldsUpdateResponse'
        '400':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-003 - Invalid request. This could be because of invalid data in the request or header, among other reasons.<BR/>API-Sec-004 - Invalid request. The client_assertion JWT is invalid<BR/>API-Sec-013 - The JWT has an invalid expiry. Pleases end a request with a valid JWT'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '401':
          description: 'Unauthorized: Authorization failed due to missing or invalid credentials. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-001 - The auth header has invalid values. Please try with valid values<BR/>API-Sec-002 - The client id provided is invalid. Please try with valid client id<BR/>API-Sec-007 - The access token is invalid. It may have expired, or maybe incorrect'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '403':
          description: 'Forbidden: Insufficient access for requested operation. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-006 - Replay attack detected. Please try again with valid data<BR/>API-Sec-008 - Mismatch in scope. The access token does not have the permission to access this resource'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '404':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-005 - Resource not found'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '429':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-009 - You have exceeded the App level quota<BR/>API-Sec-010 - You have exceeded the Developer level quota<BR/>API-Sec-011 - You have exceeded the Product level quota<BR/>API-Sec-012 - Too many requests for this API. Please try after sometime'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '452':
          description: 'System Exception: Internal processes not related to client interaction with application are the cause of the failure'
        '453':
          description: 'Validation Exception: The request failed validation, modify the request and resubmit'
        '455':
          description: 'ODS Error Exception: ODS returned a message with transaction status ERROR'
        '465':
          description: ' Backend Response Code and message in odsMessages field: <BR/><BR/>VPE5SGB03E : ORGANIZATION IS NOT NUMERIC OR MUST BE VALUE BETWEEN 001 AND 998<BR/>VPE5SGB04E : ACCOUNT NUMBER IS INVALID<BR/>VPE5SGB05E : FOREIGN USE FLAG IS INVALID<BR/>VPE5SGB07S : ORGANIZATION NOT FOUND ON FILE<BR/>VPE5SGB13I : FOREIGN USE ORG UNAVAILABLE PROCESSED LOCAL ORG ACCOUNT DATA<BR/>VPE5SGB08S : FOREIGN ORGANIZATION NOT FOUND ON FILE<BR/>VPE5SGB09S : ACCOUNT NOT FOUND OR IN ADD PENDING CLOSED OR PURGED STATUS<BR/>VPE5SGB10S : ACCOUNT NUMBER NOT FOUND ON FILE<BR/>VPE5SGB11S : LOGO NOT FOUND ON FILE<BR/>VPE5SGB12E : FI UD SUB STATUS IS NOT NUMERIC<BR/>VPE5SGB44E : E COMM RESTRICTION VALID VALUES ARE 0 AND 1<BR/>VPE5SGB14E : MARKETING OPT OUT MUST BE NUMERIC AND MUST CONTAIN VALUES 0123<BR/>VPE5SGB15E : MARKETING OPT OUT MUST BE NUMERIC AND MUST CONTAIN VALUES 01<BR/>VPE5SGB16E : MARKETING OPT OUT CONTAIN VALUES 0123<BR/>VPE5SGB17E : MARKETING OPT OUT CONTAIN VALUES 01<BR/>VPE5SGB25E : DISABILITY INDICATOR MUST BE A B C H L OR P<BR/>VPE5SGB26E : DELIVERY OPTION MUST BE NUMERIC<BR/>VPE5SGB27E : AFFILIATE EMBLEM MUST BE NUMERIC<BR/>VPE5SGB28E : AFFILIATE EMBLEM IS NOT IN RANGE DEFINED AT THE LOGO LEVEL<BR/>VPE5SGB29E : APR CASH RATE IS NOT NUMERIC<BR/>VPE5SGB30E : APR RETAIL RATE IS NOT NUMERIC<BR/>VPE5SGB31E : APR BALANCE TRANSFER RATE IS NOT NUMERIC<BR/>VPE5SGB32E : CHECK REQUESTED INDICATOR BE ZERO OR 1<BR/>VPE5SGB33E : DD INTERIM PAYMENT AMOUNT IS NOT NUMERIC<BR/>VPE5SGB34E : CONVENIENCE CHECKS FLAG MUST BE Y OR N<BR/>VPE5SGB35E : CONTACT INDICATOR MUST BE NUMERIC AND EQUAL TO 0 1 2 OR 3<BR/>VPE5SGB36E : CREDIT LIMIT BYPASS INDICATOR MUST BE EQUAL TO 0 OR 1 or 2 or 3<BR/>VPE5SGB39E : CREDIT LIMIT BYPASS EXPIRE DATE MUST BE ZERO WHEN IND=0<BR/>VPE5SGB72S : VALID VALUES ARE 012 OR 3 FOR PMT DUE ALERT<BR/>VPE5SGB74S : VALID VALUES ARE 012 OR 3 FOR SPND LIMIT ALERT<BR/>VPE5SGB76S : VALID VALUES ARE 012 OR 3 FOR CRDT LIMIT ALERT<BR/>VPE5SGB78S : VALID VALUES ARE 012 OR 3 FOR OVER LIMIT ALERT<BR/>VPE5SGB79S : VALID VALUES ARE 0 T0 15 FOR DUE DAYS AND PMTDUE ALT SHD BE OPTIN<BR/>VPE5SGB7AS : SPND LMT AMT SHD BE NUMERIC AND SPND LMT ALERT SHOULD BE OPTIN<BR/>VPE5SGB7BS : CRDT LMT AMT SHD BE NUMERIC AND CRDT LMT ALERT SHOULD BE OPTIN<BR/>VPE5SGB40E : CREDIT LIMIT BYPASS EXPIRE DATE MUST BE NUMERIC<BR/>VPE5SGB42E : CREDIT LIMIT BYPASS EXPIRE DATE MUST > TODAYS DATE<BR/>VPE5SGB43E : CREDIT LIMIT BYPASS EXPIRE DATE MUST > TODAYS DATE<BR/>VPE5SGB44E : E COMM RESTRICTION VALID VALUES ARE 0 AND 1<BR/>VPE5SGB45E : VALID VALUES ARE 0 AND 1 FOR SUPPRESS LETTER<BR/>VPE5SGB46E : LETTER SUPPRESSION IS REQUIRED FOR BILLING ACCOUNTS<BR/>VPE5SGB47E : VALID VALUES ARE SPACE-*ABCDEFIMNPSXYAND Z<BR/>VPE5SGB48E : GENERAL SMS IND SHOULD BE NUMERIC AND EQUAL TO 01234<BR/>VPE5SGB37E : VALID VALUES ARE 01 OR 4<BR/>VPE5SGB60E : AUTH TEXT MESSAGE MUST BE NUMERIC<BR/>VPE5SGB61E : VALID VALUES FOR AUTH TXT MSG ARE 0123<BR/>VPE5SGB62E : LOGO DOES NOT ALLOW AUTH TXT MSG<BR/>VPE5SGB63E : AUTH TEXT MESSAGE AMOUNT MUST BE NUMERIC<BR/>VPE5SGB64E : AUTH TXT MSG AMT SHOULD BE ZEROES<BR/>VPE5SGB65E : AUTH TXT MSG AMT SHOULD NOT BE LESS THAN LOGO LEVEL<BR/>VPE5SGB66E : AUTH TXT CHNL POS SHOULD BE NUMERIC<BR/>VPE5SGB67E : VALID VALUES FOR AUTH TXT CHNL POS ARE 01<BR/>VPE5SGB68E : AUTH TXT CHNL POS IS NOT ALLOWED<BR/>VPE5SGB69E : AUTH TXT CHNL ATM SHOULD BE NUMERIC<BR/>VPE5SGB70E : VALID VALUES FOR AUTH TXT CHNL ATM ARE 01<BR/>VPE5SGB71E : AUTH TXT CHNL ATM IS NOT ALLOWED<BR/>VPE5SGB72E : AUTH TXT CHNL ECOM SHOULD BE NUMERIC<BR/>VPE5SGB73E : VALID VALUES FOR AUTH TXT CHNL ECOM ARE 01<BR/>VPE5SGB74E : AUTH TXT CHNL ECOM IS NOT ALLOWED<BR/>VPE5SGB75E : AUTH TXT CHNL MOTO SHOULD BE NUMERIC<BR/>VPE5SGB76E : VALID VALUES FOR AUTH TXT CHNL MOTO ARE 01<BR/>VPE5SGB77E : AUTH TXT CHNL MOTO IS NOT ALLOWED<BR/>VPE5SGB78E : OTA MSG SHOULD BE NUMERIC<BR/>VPE5SGB79E : VALID VALUES FOR OTA MSG ARE 012<BR/>VPE5SGB80E : LOGO DOES NOT ALLOW OTA MSG<BR/>VPE5SGB60S : INVALID INPUT VALUE FOR ATM PACKAGE FEATURE<BR/>VPE5SGB61S : INPUT ATM PACKAGE COUNTER VALUE SHOULD BE LESS THAN LOGO LEVEL<BR/>VPE5SGB62S : INPUT ATM PACKAGE COUNTER VALUE SHOULD BE NUMERIC<BR/>VPE5SGB63S : ATM PACKAGE FEATURE IS ALREADY ACTIVE ON ACCOUNT<BR/>VPE5SGB64S : ATM PACKAGE FEATURE IS NOT ACTIVE AT LOGO LEVEL<BR/>VPL7SRS30S : SERVICE COULD NOT OBTAIN STORAGE AREA<BR/>VPL7SRS31S : SERVICE COULD NOT OBTAIN STORAGE AREA<BR/>VPE5SGB82S : SCHF BLK IND IS INVALID: VALID VALUES ARE 0 OR 1<BR/>VPE5SGB1EE : OPTIONS A B C ARE NOT AVAILABLE. TURN ON LOGO FLAG.<BR/>VPE5SGB1FE : CONTROLLING PLAN OVERRIDE MUST = F P X A B C OR SPACE.<BR/>VPE5SGB1GE : TEMP AMTorPRCNT MUST NOT BE ZEROS WHEN OPTION A OR B IS SELECTED.<BR/>VPE5SGB1IE : TEMP OPTIONS A B C ARE NOT AVAILABLE. TURN ON LOGO FLAG.<BR/>VPE5SGB1JE : TEMP OPTIONS MUST = F P X A B C OR SPACE.<BR/>VPE5SGB1KE : TEMP AMTorPRCNT MUST NOT BE ZEROS WHEN OPTION A OR B IS SELECTED.<BR/>VPE5SGB1LE : TEMP AMTorPRCNT NOT ALLWD FOR A B C WHEN LOGO FLG IS OFF.<BR/>VPE5SGB1ME : INVALID INPUT FOR TEMP AMTorPRCNT.<BR/>VPE5SGB1NE : TEMP EXPR DATE NOT ALLWD FOR A B C WHEN LOGO FLG IS OFF.<BR/>VPE5SGB1PE : TEMP PMT MTHD EXP MUST BE VLD AND GREATER THAN ACCRU THRU DATE'
          schema:
            $ref: '#/definitions/FsErrorDetails'
      deprecated: false
      x-proxy-name: Account Custom Fields Update v1
      x-region:
        - EMEA
      x-display: Account Maintenance
  /fv_emea/v1/accountDisabilityIndicatorUpdate:
    post:
      tags:
        - Account Maintenance
      summary: AccountDisabilityIndicatorUpdate
      description: This service is used to update the disability indicator at card level so the business can flag  cardholders that have a requirement for correspondence to be sent in a particular format.<BR/><BR/><p>Fields that are not provided in the Request object will be initialised to their default values. All numeric fields are initialised to zero and alphanumeric fields initialised to spaces</p>
      operationId: accountDisabilityIndicatorUpdate_v1_fv_emea
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AccountDisabilityIndicatorUpdateRequest'
        - name: Authorization
          in: header
          description: OAuth2.0 access token (Bearer token) that you get from security API
          required: true
          type: string
          default: Bearer <token>
        - name: Content-Type
          in: header
          description: Request content type
          required: false
          type: string
          default: application/json
        - name: AppCode
          in: header
          description: Application code identifying the calling application within a client system
          required: false
          type: string
          default: 'Please reach out to FirstVision API team to get the right values for your application. '
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AccountDisabilityIndicatorUpdateResponse'
        '400':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-003 - Invalid request. This could be because of invalid data in the request or header, among other reasons.<BR/>API-Sec-004 - Invalid request. The client_assertion JWT is invalid<BR/>API-Sec-013 - The JWT has an invalid expiry. Pleases end a request with a valid JWT'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '401':
          description: 'Unauthorized: Authorization failed due to missing or invalid credentials. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-001 - The auth header has invalid values. Please try with valid values<BR/>API-Sec-002 - The client id provided is invalid. Please try with valid client id<BR/>API-Sec-007 - The access token is invalid. It may have expired, or maybe incorrect'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '403':
          description: 'Forbidden: Insufficient access for requested operation. <BR/>Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-006 - Replay attack detected. Please try again with valid data<BR/>API-Sec-008 - Mismatch in scope. The access token does not have the permission to access this resource'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '404':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-005 - Resource not found'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '429':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-009 - You have exceeded the App level quota<BR/>API-Sec-010 - You have exceeded the Developer level quota<BR/>API-Sec-011 - You have exceeded the Product level quota<BR/>API-Sec-012 - Too many requests for this API. Please try after sometime'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '452':
          description: 'System Exception: Internal processes not related to client interaction with application are the cause of the failure'
        '453':
          description: 'Validation Exception: The request failed validation, modify the request and resubmit'
        '455':
          description: 'ODS Error Exception: ODS returned a message with transaction status ERROR'
      deprecated: false
      x-proxy-name: Account Disability Indicator Update v1
      x-region:
        - EMEA
      x-display: Account Maintenance
  /fv_emea/v1/accountUserFieldsUpdate:
    post:
      tags:
        - Account Maintenance
      summary: AccountUserFieldsUpdate
      description: 'This service is deprecated and will be supported until July 2020. The new version contains changes in date formats of certain fields to Gregorian (YYYYMMDD). Please switch to Version 2 of this API before that time. <BR/><BR/>This service is used to update CMS Account User Data fields including the USER AMOUNT, USER CODE , USER DATE and MISC USER fields.<p><p>When USER-CODE-1 is updated to a numeric value and this value is not the same value as AMBS-FI-UD-SUB-STATUS then AMBS-FI-UD-SUB-STATUS will be updated with the same value as USER-CODE-1. When USER-CODE-1 is updated to a non numeric value and AMBS-FI-UD-SUB-STATUS is not zero then AMBS-FI-UD-SUB-STATUS is updated to zero.'
      operationId: accountUserFieldsUpdate_v1_fv_emea
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: '#/definitions/AccountUserFieldsUpdateRequest'
        - name: Authorization
          in: header
          description: OAuth2.0 access token (Bearer token) that you get from security API
          required: true
          type: string
          default: Bearer <token>
        - name: Content-Type
          in: header
          description: Request content type
          required: false
          type: string
          default: application/json
        - name: AppCode
          in: header
          description: Application code identifying the calling application within a client system
          required: false
          type: string
          default: 'Please reach out to FirstVision API team to get the right values for your application. '
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AccountUserFieldsUpdateResponse'
        '400':
          description: 'Below are the error codes you can expect when connecting over internet:<BR/><BR/>API-Sec-003 - Invalid request. This could be because of invalid data in the request or header, among other reasons.<BR/>API-Sec-004 - Invalid request. The client_assertion JWT is invalid<BR/>API-Sec-013 - The JWT has an invalid expiry. Pleases end a request with a valid JWT'
          schema:
            $ref: '#/definitions/FsErrorDetails'
        '401':
[...]
